if env.GOOGLE_ANALYTICS_MEASUREMENT_ID
  //- see https://developers.google.com/analytics/devguides/collection/gtagjs/#install_the_global_site_tag
  script(src=`https://www.googletagmanager.com/gtag/js?id=${env.GOOGLE_ANALYTICS_MEASUREMENT_ID}` async)
  -
    const gtagScript = [
      '!function(l){',
      [
        `l.push(['js',new Date])`,
        `l.push(['config',${JSON.stringify(env.GOOGLE_ANALYTICS_MEASUREMENT_ID)}])`,
      ].join(';'),
      '}(window.dataLayer=window.dataLayer||[]);',
    ].join('');
  script!= gtagScript
