link(rel="preload" href="/root.css" as="style")
link(rel="preload" href="/images/my-symbol.svg" as="image")
link(rel="preload" href="/images/icon-pixiv.png" as="image")
link(rel="preload" href="/images/icon-qiita.png" as="image")
//- Note: preloadに対応しているブラウザはWOFF2フォントにも対応しているため、他のフォントを指定する必要は無い
link(rel="preload" href="/fontawesome/fa-brands-400.woff2" as="font" type="font/woff2" crossorigin="anonymous")
