if preloadList
  each resourceData in preloadList
    if resourceData
      link(rel="preload"
           href=rootRrelativeURL(resourceData.href)
           as=resourceData.as
           type=resourceData.type
           crossorigin=resourceData.crossorigin)
