.page-location {
  display: table;

  & > * {
    display: table-cell;
    vertical-align: middle;
  }

  & > .url {
    padding-left: 0.5em;
    font-size: smaller;
  }

  picture > img {
    vertical-align: middle;
  }
}
