header.page {
  @margin-v: 0.5em;

  margin: 0 -0.5em;
  border-bottom: solid 1px;
  padding: inherit;

  @supports (position: sticky) {
    position: sticky;
    top: 0;
    background-color: inherit;
  }

  & > * {
    margin-top: @margin-v;
    margin-bottom: @margin-v;

    &:first-child {
      margin-top: 0;
      padding-top: @margin-v;
    }
  }

  img {
    vertical-align: middle;
  }

  .page-location {
    display: flex;
    align-items: center;

    & > .qr-code {
      image-rendering: pixelated;
    }

    & > .url {
      overflow-x: auto;
      margin-left: @margin-v;
      font-size: 0.8em;

      & > .segment {
        white-space: nowrap;
      }

      a {
        text-decoration: none;
        color: inherit;

        &:hover,
        &:active,
        &:focus {
          text-decoration: underline;
        }
      }
    }
  }
}

@supports (position: sticky) {
  @supports (height: var(--header-height)) {
    @supports (scroll-margin-top: 4px) {
      /*
       * Chrome v73+ only works with <body>.
       * ULTIMATELY this needs to go on <html>, not <body>.
       * see https://css-tricks.com/fixed-headers-on-page-links-and-overlapping-content-oh-my/
       */
      html,
      body {
        scroll-margin-top: var(--header-height);
      }
    }

    @supports not (scroll-margin-top: 4px) {
      /* see https://chromium.googlesource.com/chromium/blink/+/master/Source/core/css/html.css */
      /* see https://dxr.mozilla.org/mozilla-central/source/layout/style/res/html.css */
      /* see http://trac.webkit.org/browser/trunk/Source/WebCore/css/html.css */
      @block-level-elems: address, article, aside, blockquote, dd, details, div,
        dl, dt, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5,
        h6, header, hgroup, legend, main, nav, ol, p, pre, section, summary, ul;

      @{block-level-elems} {
        &[id]:before {
          /* see https://css-tricks.com/hash-tag-links-padding/#article-header-id-1 */
          /* see http://nicolasgallagher.com/jump-links-and-viewport-positioning/demo/#method-B */
          display: block;
          content: " ";
          margin-top: calc(var(--header-height) * -1);
          height: var(--header-height);
          visibility: hidden;
          pointer-events: none;
        }
      }
    }
  }
}
