@import "_mixins";

html {
  // see https://github.com/sounisi5011/original-characters/blob/v1.4/assets/default.css#L12-L23
  -webkit-font-smoothing: antialiased;
  font-family: "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3",
    "游ゴシック体", "Yu Gothic", YuGothic, "メイリオ", Meiryo, sans-serif;
  background-color: #111;
  color: #eee;
}

h1 {
  text-align: center;
}

a {
  @focus-color: #fff;
  @text-color: darken(@focus-color, 40%);

  &:link,
  &:visited {
    color: @text-color;
    text-decoration: underline;

    &:hover,
    &:active,
    &:focus {
      color: @focus-color;
    }
  }
}

hr,
[role="separator"] {
  margin-left: 1em;
  margin-right: 1em;
  border-top-style: inset;
  border-bottom-style: inset;
  border-width: 2px;
  line-height: 2;
  text-align: center;

  &:empty {
    border-width: 1px;
  }
}

em:lang(ja) {
  @supports (text-emphasis-style: dot filled) {
    text-emphasis-style: dot filled;
    font-style: normal;
  }
}

abbr[title] {
  text-decoration: none;

  &:after {
    content: "（" attr(title) "）";
  }
}

// TODO: ruby要素に対応している環境だけで適用する
ruby rp {
  display: inline;
  position: absolute;
  .invisible-text;
}

.bold {
  font-weight: bold;
}

.small {
  font-size: smaller;
}

.novel-body {
  word-break: keep-all;

  & > .message {
    &:first-child {
      border-bottom: solid 1px;
    }

    &:last-child {
      border-top: solid 1px;

      h2 {
        margin-top: 1em;
        margin-bottom: 1em;
        border-left: solid 5px;
        padding-left: 1em;
        font-size: 1em;
      }
    }
  }
}

.pagination {
  @pagination-gap: 1em;

  display: flex;
  justify-content: center;

  & > a {
    margin-left: @pagination-gap / 2;
    margin-right: @pagination-gap / 2;

    &[rel="prev"],
    &.prev {
      order: 1;
    }

    &[rel="contents"] {
      order: 2;
    }

    &[rel="next"],
    &.next {
      order: 3;
    }
  }

  & > .split-text {
    display: none;
  }
}

.spacing-loop (@lines) when (1 < @lines) {
  .spacing-loop((@lines - 1));

  @default-lh: 1.5;
  @default-hr-margin: 0.5em;
  @spacing: @lines * @default-lh;

  .spacing-@{lines} {
    p&,
    span&[role="presentation"] {
      margin-top: @spacing * 1em;
      margin-bottom: @spacing * 1em;

      @supports (margin-top: 3lh) {
        margin-top: ~"@{lines}lh";
        margin-bottom: ~"@{lines}lh";
      }
    }

    span&[role="presentation"] {
      display: block;
    }

    span&[area-hidden="true"]:empty {
      &:before {
        .repeat-content("\a", @lines);
        white-space: pre;
      }
    }

    hr& {
      margin-top: @spacing + @default-hr-margin;
      margin-bottom: @spacing + @default-hr-margin;

      @supports (margin-top: 3lh) {
        margin-top: calc(~"@{lines}lh" + @default-hr-margin);
        margin-bottom: calc(~"@{lines}lh" + @default-hr-margin);
      }
    }
  }
}
.spacing-loop(30);

.spacing-vh {
  @default-hr-margin: 0.5em;
  @spacing: 100vh;

  p&,
  span&[role="presentation"] {
    margin-top: @spacing;
    margin-bottom: @spacing;
  }

  span&[role="presentation"],
  span&[area-hidden="true"] {
    display: block;
  }

  span&[area-hidden="true"]:empty {
    margin-top: @spacing;

    &:before,
    &:after {
      content: "";
    }
  }

  hr& {
    margin-top: calc(@spacing + @default-hr-margin);
    margin-bottom: calc(@spacing + @default-hr-margin);
  }
}
