@import "_fontawesome/solid";

.bottom-fixed-box.outer {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;

  & > .bottom-fixed-box.inner {
    position: absolute;
    right: 0;
    bottom: 0;
  }
}

.novel-body {
  .share-open.paragraph-share & {
    [data-fragment-id] {
      cursor: pointer;

      &:not([data-fragment-id=""]) {
        color: fadeout(#eee, 50%);
      }
    }

    [data-fragment-id=""] {
      text-decoration: underline;
      text-decoration-style: dotted;
    }
  }
}

footer.page {
  margin-top: 5em;

  & > .share-area {
    margin: 0;
    font-size: larger;

    & > * {
      margin-bottom: 1em;

      .share-button {
        @bg-color: #000;
        @text-color: #fff;

        cursor: pointer;
        border: solid 1px currentColor;
        padding: 0.5em;
        white-space: nowrap;
        background-color: @bg-color;
        color: @text-color;
        font-size: medium;

        &:before {
          .fa-icon;
          .fas;
          margin-right: 0.3em;
        }

        &.toggle-menu {
          &:before {
            content: @fa-var-share-alt;
          }

          .share-open & {
            border-color: @bg-color;
            background-color: @text-color;
            color: @bg-color;

            &:before {
              content: @fa-var-times;
            }
          }
        }
      }

      .paragraph-share-area {
        display: none;

        .share-open & {
          display: block;
        }

        & > * {
          margin-bottom: 1em;

          .share-button {
            &.paragraph-share,
            &.all-share {
              transition: transform 0.3s;
              backface-visibility: hidden;
            }

            &.paragraph-share {
              .paragraph-share & {
                transform: rotateY(180deg);
              }

              &:before {
                content: @fa-var-bookmark;
              }
            }

            &.all-share {
              position: absolute;
              right: 0;
              transform: rotateY(-180deg);

              .paragraph-share & {
                transform: rotateY(0);
              }

              &:before {
                content: @fa-var-scroll;
              }
            }
          }
        }
      }
    }
  }
}
