@import "_fontawesome/solid";
@import "_fontawesome";

.bottom-fixed-box {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;

  & > * {
    position: absolute;
    bottom: 0;
  }
}

html.share-open.paragraph-share {
  scroll-behavior: smooth;

  .novel-body {
    [data-fragment-id] {
      cursor: pointer;

      &:not([data-fragment-id=""]) {
        opacity: 0.2;
      }
    }
  }
}

footer.page {
  margin-top: 5em;

  & > .share-area {
    @button-bg-color: #000;
    @button-text-color: #fff;

    margin: 0;
    font-size: larger;

    .share-button {
      cursor: pointer;
      border: solid 1px currentColor;
      padding: 0.5em;
      white-space: nowrap;
      background-color: @button-bg-color;
      color: @button-text-color;
      font-size: medium;
      transition: background-color 0.2s;

      &:hover,
      &:focus {
        background-color: lighten(@button-bg-color, 10%);
      }

      &:before {
        .fa-icon;
        margin-right: 0.3em;
      }
    }

    & > * {
      margin-bottom: 1em;
    }

    & > .left-menu {
      left: 0;
      display: none;

      .share-open & {
        display: block;
      }

      .share-button {
        &.twitter-share {
          /* see https://about.twitter.com/ja/company/brand-resources.html */
          @bg-color: $background-color;

          background-color: #1da1f2;
          color: #ffffff;

          &:hover,
          &:focus {
            background-color: lighten(@bg-color, 10%);
          }

          &:before:extend(.fab) {
            content: @fa-var-twitter;
          }
        }
      }
    }

    & > .right-menu {
      right: 0;

      .share-button.toggle-menu {
        transition-property: color, background-color;

        &:before:extend(.fas) {
          content: @fa-var-share-alt;
        }

        .share-open & {
          background-color: @button-text-color;
          color: @button-bg-color;

          &:hover,
          &:focus {
            background-color: darken(@button-text-color, 10%);
          }

          &:before:extend(.fas) {
            content: @fa-var-times;
          }
        }
      }

      .paragraph-share-area {
        display: none;

        .share-open & {
          display: block;
        }

        & > * {
          right: 0;
          margin-bottom: 1em;

          .share-button {
            &.paragraph-share,
            &.all-share {
              transition: background-color 0.2s, color 0.2s, transform 0.3s;
              backface-visibility: hidden;
            }

            &.paragraph-share {
              .paragraph-share & {
                transform: rotateY(180deg);
              }

              &:before:extend(.fas) {
                content: @fa-var-bookmark;
              }
            }

            &.all-share {
              position: absolute;
              right: 0;
              transform: rotateY(-180deg);

              .paragraph-share & {
                transform: rotateY(0);
              }

              &:before:extend(.fas) {
                content: @fa-var-scroll;
              }
            }
          }
        }
      }
    }
  }
}
