// ---
// preloadDependencies:
//   - /images/icon-pixiv.png
//   - /images/icon-qiita.png
// ---

@import "_mixins";
@import "_fontawesome";

html {
  background-color: #dde;
}

h1,
.about-text {
  text-align: center;
}

.main-icon {
  margin-top: 1em;

  img {
    display: block;
    width: 140px;
    height: 140px;
    margin: 0 auto;
    border: solid 1px #bbb;
    border-radius: 50%;
    background-color: #fff;
  }

  & + h1 {
    margin-top: 0;
  }
}

.social-links {
  @social-links-gap: 0.25em;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  padding: 0;

  margin: (1em - @social-links-gap) (@social-links-gap * -1);

  & > li {
    @icon-right-space: 0.25em;

    margin: @social-links-gap;
    flex: 1 1 auto;
    text-align: center;

    & > a {
      @bg-color: $background-color;

      display: block;
      padding: 0.6em 0.3em;
      background-color: #333;
      color: #fff;
      text-decoration: unset;

      &:hover,
      &:focus {
        background-color: lighten(@bg-color, 10%);
      }
    }

    /* see https://about.twitter.com/ja/company/brand-resources.html */
    &.twitter > a {
      @bg-color: $background-color;

      background-color: #1da1f2;
      color: #ffffff;

      &:hover,
      &:focus {
        background-color: lighten(@bg-color, 10%);
      }

      &:before {
        .fa-icon;
        .fab;
        content: @fa-var-twitter;
        margin-right: @icon-right-space;
      }

      & .service-name {
        .invisible-text;
      }
    }

    /* https://github.com/logos */
    &.github > a {
      @bg-color: $background-color;
      @text-color: $color;

      background-color: #171516;
      color: #ffffff;

      &:hover,
      &:focus {
        background-color: @text-color;
        color: @bg-color;
      }

      &:before {
        .fa-icon;
        .fab;
        content: @fa-var-github;
        margin-right: @icon-right-space;
      }

      & .service-name {
        .invisible-text;
      }
    }

    /* see https://www.pixiv.net/terms/?page=brand */
    &.pixiv > a {
      @bg-color: $background-color;

      background-color: #ffffff;
      color: #009cff;

      &:hover,
      &:focus {
        background-color: darken(@bg-color, 10%);
      }

      &:before {
        .pseudo-image-resize(url("/images/icon-pixiv.png"));
        min-width: 24px;
        min-height: 24px;
        vertical-align: top;
        margin-right: @icon-right-space;
      }

      & .service-name {
        .invisible-text;
      }
    }

    /* see https://help.qiita.com/ja/articles/others-brand-guideline */
    &.qiita > a {
      @bg-color: $background-color;

      background-color: #fff;
      color: #4aac00;

      &:hover,
      &:focus {
        background-color: darken(@bg-color, 10%);
      }

      &:before {
        .pseudo-image-resize(url("/images/icon-qiita.png"));
        margin-right: @icon-right-space;
      }

      & .service-name {
        .invisible-text;
      }
    }

    &.e621 > a {
      background-color: #152f56;
      color: #b4c7d9;

      &:hover,
      &:focus {
        color: #2e76b4;
      }

      & .service-name {
        color: #fff;
      }
    }
  }
}
