---
title: ながぁぃぃぃぃぃぃぃぃぃぃぃぃぃぃぃぃぃぃぃぃぃぃぃぃぃぃぃぃぃぃぃぃぃぃぃぃぃぃぃぃぃぃぃぃぃぃぃぃぃぃぃぃぃぃぃぃぃぃぃぃぃぃぃタイトル
sortOrder: 2
localPageStyles:
  - /novels.css
---

extends ../_page-layout

block novel-body
  p
    = 'い'.repeat(500)
    | ！
    = 'い'.repeat(500)
    | ！！！
