---
title: ながぅぅぅぅぅぅぅぅぅぅぅぅぅぅぅぅぅぅぅぅぅぅぅぅぅぅぅぅぅぅぅぅぅぅぅぅぅぅぅぅぅぅぅぅぅぅぅぅぅぅぅぅぅぅぅぅタイトル
sortOrder: 3
localPageStyles:
  - /novels.css
---

extends ../_page-layout

block novel-body
  p
    | う
    = 'ぅ'.repeat(1500)
    | ！？！？！？
