extends ../_layout

mixin ruby(rb, rt, rp=['（', '）'])
  ruby
    = rb
    rp= Array.isArray(rp) ? rp[0] : rp
    rt= rt
    rp= Array.isArray(rp) ? rp[1] : ''

prepend vars
  - const getPageDataList = () => collections.novelsPages.filter(pageData => pageData.parentPage().path === path)

block content
  block novel-title
    h1.novel-title= title
  block novel-content
    block novel-header
    main.novel-body
      block novel-body
    block novel-footer
