---
title: ツイート毎に分割可能な小説…？
description: いかに良い作品を書いても、Twitterというメディアでそれが読まれることは少ない。なぜなら、ページを移動すること自体が敬遠されるからだ。
sortOrder: 2
tweetable: true
localPageStyles:
  - /novels.css
localPageScripts:
  - https://platform.twitter.com/widgets.js
---

extends _layout

block novel-body
  p(id="導入")
    | 「なんと、か弱い。それでも竜狩りか？」
  p
    | 竜の口から、憐れむような声が漏れる。竜が向ける視線の先には、強靭な前脚の下敷きにされた人間の姿が。
  p
    | 「ぐ……このっ……」
  p(id="踏みつけと圧迫")
    | 竜の体重は、地面を砕き、ひび割れを作っている。普通の人間なら簡単に潰されてしまうだろう。それでも無事なのは、彼が、紛れもない竜狩りの一人だからだ。
  p
    | 竜狩り。この世界において、天災にも等しい魔物“竜”を討ち倒す彼らは、人間たちの希望そのものだ。
    span(id="敗北") だがそれでも、常に勝てるわけではない。
  p
    | 「可哀想に。我がもっと若ければ、このようなことにはならなかっただろうに……クフフ♪」
  p
    | ニンマリと笑みを浮かべ、舌舐めずりする竜。竜の腹はかすかに膨れ、中からうめき声が聞こえる。
    span(id="仲間の犠牲") 今夜の犠牲者は、彼だけではない。彼の先輩や仲間だった竜狩り達は、すでに竜の夕餉となってしまっていた。
  p
    | 「ほれほれ。早く助けないと、お前の仲間が力尽きてしまうぞ？」
  p(id="腹から響く消化音")
    | 竜は、踏みつけた彼を引きずって腹に近づける。彼は、胃袋の中の音をはっきりと聞いてしまった。
    | 闇の中に囚われた不安。体が溶けていく恐怖。外界を求める懇願と祈り。そして、それをかき消すような、内容物をこなす水音。気のせいか、声の数も少なくなっていた。
  p(id="未熟者の怒り")
    | 「ふざけるな……返せ、仲間を返せぇぇぇっ！！！」
  p
    | 先輩が、仲間たちが、竜の中で殺されていく。その怒りが、彼の表情を歪める。そして彼は、片手に握っていた短剣を、竜の前脚に向かって振りかざした。
  p(id="轟音と砕け散る地面")
    | 「むっ……！」
  p
    | 短剣が、竜の前脚に
    wbr
    | 振り下ろされる。その切っ先が
    wbr
    | 当たるよりも早く、竜は、すばやく
    wbr
    | 後方に飛び退く。
    span.spacing-3(aria-hidden="true")
    | その直後、竜がいた場所が、轟音を立てながらひび割れ、崩れた。
    span(id="怒りと覚醒") 割れた地面の中心には、地面へ向かって突き立てられた短剣が刺さっている。
  p
    | 「フゥゥー……ッ」
  p
    | 歯を食いしばりながら、彼は静かに息を吐く。そして、視線を上げ、竜をしっかりと見据えた。
  p(id="反撃開始")
    | 「返せ……」
  p
    | 彼は、ゆっくりと立ち上がりながら、地面から短剣を引き抜く。それから、切っ先を下に向けて握り、体を前へ傾ける。
  p
    | 「みんなを返せ……っ！」
  p
    | 静かな声を絞り出すと、彼は地面を蹴った。
    span(id="素早い接近") 地面に重い衝撃が走り、彼の体は一気に飛ぶ。たった一歩の踏み出しで、彼は10mもの距離を移動した。その勢いのまま、彼は竜に迫る。
  p
    | 「ぐっ……貴様……！」
  p
    | 竜狩りの短剣が迫る。それを見た竜は、すばやく体を回転させ、迫る彼に背を向けた。
    span(id="防御と弾き飛ばし") 短剣の刃先が竜の背中に当たる。だが、硬い甲殻の上を刃が滑り、刺さることなく弾かれた。
  p
    | 刃をいなした竜は、回る勢いに任せ、自身の尾を彼に叩きつける。短剣を弾かれ、背中を滑っていた彼の体は、横から直撃した尾で弾き飛ばされた。
  p(id="姿勢の安定化と再加速")
    | 「ぐぁぁっ！……ぐっ……！」
  p
    | 飛ばされた彼は、地面に当たって跳ね、さらに遠くへ飛んでいく。だが、跳ね返って二度目に落下したとき、彼は短剣を地面に突き刺して勢いを殺した。間髪を入れずに、彼は再び地面を蹴り、竜に迫る。
  p(id="敵ではなく肉")
    | 「クク……威勢がいい#[+ruby('童', 'わらべ')]だのう！」
  p
    | 迫りくる彼を見て、竜はニンマリと笑い、ベロリと舌舐めずりをした。それは、仲間たちを巻き取り、次々に呑み込んでいった舌。自分も餌と見られている。その事に気付き、彼の心拍はさらに跳ね上がった。
  p(id="想定外の結果")
    | 彼が竜に切りつけようとしたとき、竜は、再び後方に飛び退いた。斬りつける位置がずれ、彼は地面に足をつく。その瞬間、竜が前脚を彼に向かって振り、鋭い爪で切り裂く
    span.spacing-3(aria-hidden="true")
    | ──はずだった。
  p(id="未熟者の攻撃")
    | 「グルゥ！？」
  p
    | 竜狩りの彼は、横から来た爪を短剣で受け、刀身の上で滑らせた。竜の腕力で振られた爪の力を受け止め、それを自身の加速に変える。その勢いで、彼は竜の懐へ滑り込んだ。竜の視界から彼が消えた直後、竜の後脚が、小さな刃で切り裂かれた。
  p(id="追い詰められる竜")
    | 「ギャアゥゥゥ！！」
  p
    | 竜の口から、コトバとは異なる音が放たれる。竜が生まれながらに持つ本来の“声”。ヒトの言葉を真似られないほどに、竜は追い詰められていた。
  p(id="トドメの加速")
    | 竜の後脚に切りつけた彼は、短剣を地面へ刺し、滑る軌道を回転させる。方向を変え、竜の頭が視界に入ったとき、彼は再び地を蹴った。竜は姿勢を崩し、倒れはじめる。加速する彼の視界の中で、竜の転倒は、とてもゆっくりとした動きになっていた。
  p
    | 「トドメだ……！」
  p(id="トドメ")
    | 切っ先をまっすぐに向け、竜の頭に突き刺そうと迫る。倒れる竜の視線はこちらに向いていない。勝った！彼は確信し、短剣を両手でしっかりと掴みなおすと、眼前に近づいた竜の頭蓋に剣を突き出した。
  p(id="防がれた刃")
    | 金属がぶつかりあったような硬い音が鳴り響く。それは、短剣が竜の頭に届いた音。切っ先が竜の頭部に潜り込んだ音。だが、竜の命を奪うことはなかった。
  p
    | 「えっ……？」
  p
    | 彼が突き出した切っ先は、牙でガッチリと挟まれ、固定されていた。
    span(id="致命的な誤り") 何が起きたのか理解できず、彼は混乱する。だが、理解する暇は無かった。
  p
    | 彼の体は勢いに乗ったまま、竜の牙に激突してしまう。頭からぶつかり、胴体が横向きになる。そして、短剣を掴んでいた指の力が弱まる。竜はその瞬間を見逃さず、短剣を噛んだまま首を横に振った。
  p(id="喪失")
    | 彼の体に、急激な勢いがかかる。予測していない加重が、彼の体を変な方向へ曲げてしまう。そして、彼が握っていた短剣は、彼の手を離れ、遠くへ飛んで行ってしまった。硬い刃が地面に当たり、カラカラと音をたてる。その音は、反響しながら彼の耳に入った。
  p(id="知覚の低下と落下")
    | 「ああ……だめだ……ダメだ……！」
  p
    | 一刻も早く短剣を取り戻そうと、彼は音が聞こえた方へ視線を向ける。……否、#[em 向けようとした]。だが、頭を動かすよりも前に、彼は地面へ激突した。
  p(id="落下の衝撃")
    | 「カハッ！」
  p
    | 彼の口から妙な声が漏れる。いや、正確には“声”ではない。落下の衝撃で肺が押され、息が漏れ出て発した音だ。
  p(id="動かぬ体")
    | 「グルル……本気で我に勝つつもりでいたのか？」
  p
    | 竜はグルグルと唸りながら、倒れた彼に声をかける。竜は彼に近づくと、首を伸ばし、彼を真上からじっと見つめた。だが、彼は震えるばかりで、再び立ち上がることもしない。
  p(id="踏みつけ")
    | 「お前の仲間のほうが、もう少し手ごわかったぞ？そう……」
  p
    | 竜は彼に前脚を乗せる。そして、再び、体重をかけた。
  p(id="脆弱な骨の粉砕")
    | 「あ゙あ゙あ゙あ゙あ゙っ！ぎゃあ゙あ゙っ！！」
  p
    | メキリと音がして、彼は悲鳴を上げた。今まで耐えていたはずの彼の骨は、片脚で踏まれただけで、あっさりと折れてしまった。
  p
    | 「こうして神器を奪われ、加護を失っても、もう少し抵抗していた。クフフ……か弱い」
  p(id="加護を失った体")
    | 竜が、彼の体から足を避ける。短剣を失い、“加護”を喪失した彼の体は、竜の重みに耐えきれず、所々から血がにじみ出ていた。
  p
    | 「い……ひっ……くそ……あと少しだったのに……」
  p(id="騙し合い")
    | 「おや、我を追い詰めたつもりでいたのか？」
  p
    | 悔しがる彼に、竜は後脚を見せる。しっかりと切りつけたはずなのに、そこから血は流れていなかった。
  p
    | 「お前の策略などお見通しよ。切り口が浅くなるよう、傾きを変えてやった」
  p(id="嘘の叫び")
    | 「そんな……でも、悲鳴を上げて……」
  p
    | 「クフフ……我の声を信じるとは。なんと愚かな奴め」
  p
    | 竜はペロリと舌舐めずりをする。美味しそうな肉がまた手に入った。その喜びが、ニンマリと歪む竜の口角に現れていた。
  p(id="食前の会話")
    | 「まあ、よい。#[+ruby('童', 'わらべ')]にしてはよくやった。その強さ、誇るが良い」
  p
    | 血が滲む彼に、竜は鼻先を当てる。そして、彼を、ペロリと舐め上げた。
  p
    | 「我の腹の中でな」
  p
    | そう告げると、竜はグワッと口を開けた。熱い熱気が彼に吹きかかり、髪を揺らす。
  p(id="味見と拘束")
    | 「やだ……やめろ……やめろぉ……！」
  p
    | 恐怖で染まりきった彼は、必死に這って逃げようとする。だが、30cmも進まぬうちに、彼の体に、竜の舌がのしかかった。
  p
    | 「ぎぁぁっ！」
  p
    | 傷に舌が当たり、彼の喉から悲鳴が漏れる。痛みで体はピクリと震え、這うこともできなくなった。
    span(id="頬張られる獲物") 直後、竜の牙が、彼の体を下からすくうように持ち上げた。
  p
    | バクンと音がして、竜の顎が閉じる。彼が這っていた場所には、唾液と血の跡だけが残っている。彼はもう、竜の口の中だった。
  p(id="口内に捕らわれた獲物")
    | 「うぁぁっ……やだ……止めて……ヤメテ……」
  p
    | 傷口に唾液がしみる。蒸し暑い吐息で呼吸も苦しくなる。すっかり戦意を失った彼は、なんとか逃れようと、閉じた牙に手を伸ばす。硬い竜の歯に触れ、こじ開けようと指をかけたとき、彼を支えていた舌が突然持ち上がった。
  p(id="嚥下前段階・圧迫")
    | 「んぶっ……！！！」
  p
    | 柔らかな舌で押された彼は、口蓋──上顎に接する硬い箇所と、舌の間に挟まれてしまう。背中を硬い口蓋が、腹と顔を柔らかな舌が包み、彼はもう、声を発することもできなくなってしまった。
  p(id="嚥下中段階・輸送")
    | 舌の先の圧迫が強くなる。舌の根と舌先で圧力の差が生まれ、彼の体が、奥へ奥へと滑り始めた。体を撫でる舌の感覚に反応し、彼はモゴモゴと声を立てる。だが、彼の体はどんどん奥へ流されていった。
  p(id="嚥下最終段階・流し込み")
    | 頭が、柔らかな食道の肉に包まれる。続いて胸、腹、股、足首と続く。彼は後ろへ手を伸ばし、牙の凹凸に指をかけて抗おうとした。だが、竜の嚥下は力強く、人間の指の力で抑え込めはしない。
  p(id="嚥下と舌舐めずり")
    | 舌の付け根が閉じる。ゴクリと音がして、竜は首を膨らませた。膨らみはどんどん下がっていき、胴体の中へと消えた。膨らみの動きを見届けた竜は、ペロリと舌舐めずりをすると、小さなゲップをした。
  p(id="胃袋に流し込まれる獲物")
    | 竜が舌舐めずりをした時、彼の頭は、胃袋の中に入り始めていた。収縮していた入口を押し広げながら、ドロドロに濡れた頭があらわれる。
    span(id="胃袋に捕らわれる獲物") 頭が出てきたと同時に、重力に引かれて、彼の胴体もスルスルと滑り込んだ。狭い胃袋の僅かな隙間に、彼の体が滑り込む。全身が胃袋の中に滑り込んだとき、食道と胃袋を繫ぐ噴門は、再び収縮し、固く閉じた。
  p(id="絶望的な知識")
    | 「まずい……喰われた……ウッ……ッ……」
  p
    | 竜に喰われれば、まず生還することはない。それは、彼も知る常識だった。人を喰った竜を討伐しても、腹の中から救出されるときには、すでに溶けていることがほとんど。その事が、暗い腹の中ではっきりと思い浮かんでしまう。
    span(id="闇と不快と歔泣") 体にまとわりつく、不快な体液の感覚。傷口から流れ出る、吐きそうな血の香り。彼は、おぞましい竜の腹の中で、目を閉じながら、ただ泣くことしかできなかった。
  p(id="噂の記憶。かすかな希望")
    | だがその時、彼の脳裏に、ある話が浮かび上がった。竜に喰われた竜狩り達が、腹の中で力を合わせ、無事に脱出した話を。人伝に聞いたあやふやな噂。だが、今の彼にとって、それが唯一の希望だった。
  p(id="仲間の捜索")
    | 「先輩っ……みんなっ……どこですか……っ！？」
  p
    | 彼は胃袋の中を這いながら、先に呑まれたはずの仲間たちを探す。狭い胃袋の中で、胃壁を押して進みながら、仲間たちのいどころを探す。だがいくら奥に進んでも、仲間の体はおろか、服の一部さえ見つからない。
  p(id="仲間の行方")
    | 「おや、仲間を探しているのか？」
  p
    | その時、あの忌まわしい竜の声が聞こえる。低い声で胃袋を震わせながら、捕食者は続けた。
  p(id="仲間の結末")
    | 「お前の仲間なら、お前と遊んでいるうちに、すっかり溶けてしまったわ」
  p
    | その返答を聞いた途端、彼は察した。胃袋の中に溜まっている、この濃い血の香り。自分のものだとばかり思っていたこの臭いが、仲間たちが遺した唯一の痕跡なのだと。
  p(id="絶望と言葉の喪失")
    | 「うぁ……ぁ……」
  p
    | 自分を鍛えてくれた先輩も、ともに戦ってきた仲間たちも、もう、跡形もなくなり、血の香りに変わってしまっている。その事実を突きつけられ、彼は、言葉にならない声を漏らし始めた。
  p(id="消化という名の救い")
    | 「おやおや、仲間を失ったのがそれほど辛いのか？」
  p
    | 腹の中で震え、うめき声だけを漏らし始めた彼に、竜は優しい声色で話しかける。
  p
    | 「クフフ……安心するがいい。お前もすぐにとろかして、仲間とともに、我の糧にしてやろう」
  p
    | 腹をさすりながら、竜は小さな獲物に囁く。
    span(id="消化の痛み") その時、腹の中では、少しずつ胃液が分泌されはじめていた。
  p
    | 「あ……ああ……ぎゃっ！」
  p
    | 虚ろな目で呻いていた彼の意識を、胃液の痛みが引き戻す。消化液で濡れた胃壁が、彼を締めつけながら揉み、皮膚に胃液を擦り込み始めた。
  p(id="痒みと激痛と溶解")
    | 「ぁぁ……やだぁ……やだぁ！！」
  p
    | 痛みはじわじわと全身に広がる。なんともなかった皮膚も、痒みを感じ、やがてそれは痛みに変わる。数人もの人間をたやすく溶かす竜の消化液は、彼も、容赦なく侵食していった。
  p(id="崩れる腕。潰れる喉")
    | 「助け……ダズゲ……カッ……ガ……」
  p
    | 助けてと叫びながら、彼は締めつける肉壁を押さえ、激しい抱擁から逃れようとする。だが、胃液はどんどん分泌されていく。押さえる腕はメキョリと折れ、声を発していた喉も潰れてしまった。
    span(id="声を失った成れの果て") 赤く染まっていく彼の口から漏れるのは、痰を吐くようなゴポゴポという音だけだった。
  p
    | 「クフフ……もう話す事もできぬのぅ……♪」
  p
    | 小さくなっていく腹をさすりながら、竜は嬉しそうに言う。
  p
    | 「お前の命も、しっかりと我の糧にしてやろう」
  p(id="食後の休息")
    | 竜は、腹の膨らみにそう告げると、洞窟に響く大きなゲップをして、体を丸め、眠り始めた。竜に挑んだ者達の痕跡は、砕けた地面や石の破片と、竜の目の前に残る、血と唾液が混ざった跡だけだった。

  aside.message
    <blockquote class="twitter-tweet" data-lang="ja" data-theme="dark"><p lang="ja" dir="ltr">仲間を喰った邪竜に挑んで、負けて、仲間の悲鳴がすっかり聞こえなくなった腹の中に捕らわれたい。戦っている間に仲間はすっかり溶けてしまって、骨も残らず腸へ流されてしまったの。かすかな血の香りだけが残る胃袋の中で、無力な拳で胃壁を叩きながら溶かされたい。</p>&mdash; sounisi5011/vore (@sounisi5011Vore) <a href="https://twitter.com/sounisi5011Vore/status/1166100191012745217?ref_src=twsrc%5Etfw">2019年8月26日</a></blockquote>
    p
      | このツイートが元ネタ#[strong ではありません]。9日くらい前の段階で
      a(href="https://github.com/sounisi5011/sounisi5011.jp/pull/60/commits/142bfd2a1a5fa5eb59834dbfc07689a93e8fa090")
        | すでにネタはありました
      | 。
    p
      | 「ツイートを連投して全ての内容を宣伝できる小説」のテストのためだけに書いた作品ですが、思いの外素晴らしい出来栄えになってしまったので、正直震えています。

//- 竜狩りが竜の頭に向かって走り、とどめを刺そうと切っ先を向ける。
//- 切っ先は竜の頭に直撃。だが、硬い甲殻の上を刃が滑る。勢いがついたまま、竜狩りの体は前に滑り、彼の足は、竜の口の中へ入ってしまった。

//- バキリ

//- 竜が口を閉じ、竜狩りの足が嫌な音を立てる。その直後、竜は彼を咥えたまま頭を振り、彼を地面へ叩きつけた。
//- 彼の足は引きちぎれる。唾液と血が混じった水溜りの中で、彼は悲鳴を上げた。

//- 可哀想にと言いながら、竜は彼に顔を近づける。目に涙を浮かべながら、彼は竜をにらみ、切っ先を竜の鼻先に向かって突き出した。
//- だが竜は、突き出された短剣をすばやく咥える。刃先を牙で噛み、しっかりと固定しながら、竜は首を横に振った。
//- 噛みつかれ、固定されていた短剣は、彼の手を離れ、遠くへ飛んで行ってしまった。硬い切っ先が地面に当たり、カラカラと音をたてる。その音は、反響しながら彼の耳に入った。
//- 神器を失い、竜に喰われる肉でしかなくなった彼の耳に。

//- 「先輩…みんな…どこですか…？」
//- 「ああ…お前の仲間なら、お前と遊んでいるうちにすっかり溶けてしまったわ」
//- 「溶け…？」
//- 「クフフ…安心するがいい。お前に傷をつけられたから、今の我は肉を欲しておる。だから、お前もすぐにとろかしてやろう。よかったのう。また仲間と再開できるぞ？」
