---
title: ツイート毎に分割可能な小説…？
description: いかに良い作品を書いても、Twitterというメディアでそれが読まれることは少ない。なぜなら、ページを移動すること自体が敬遠されるからだ。
sortOrder: 2
tweetable: true
localPageStyles:
  - /novels.css
---

extends _layout

block novel-body
  p#p01
    | 「なんと、か弱い。それでも竜狩りか？」
  p
    | 竜の口から、憐れむような声が漏れる。竜が向ける視線の先には、強靭な前脚の下敷きにされた人間の姿が。
  p
    | 「ぐ……このっ……」
  p#p013
    | 竜は、彼を容赦なく踏み潰す。地面はひび割れ、普通なら容易に潰れてしまうだろう。それでも無事なのは、彼が、紛れもない竜狩りの一人だからだ。
  p
    | 凡人とは比較にもならない強者──竜狩り。この世界において、彼らは文字通り、天災にも等しい“竜”を討ち倒す、人間たちの希望そのものだ。
    span#p021 だがそれでも、常に勝てるわけではない。
  p
    | 「可哀想に、我がもっと若ければ、このようなことにはならなかっただろうに……クフフ♪」
  p
    | ニンマリと笑みを浮かべ、舌舐めずりする竜。竜の腹はかすかに膨れ、中からうめき声が聞こえる。
    span#p03 今夜の犠牲者は、彼だけではない。彼の先輩や仲間だった竜狩り達は、すでに竜の夕餉となってしまったのだ。
  p
    | 「ほれほれ。早く助けないと、お前の仲間が力尽きてしまうぞ？」
  p
    | 竜は、踏みつけた彼を引きずって腹に近づける。彼は、胃袋の中の音をはっきりと聞いてしまった。
    span#p04 闇の中に囚われた不安。体が溶けていく恐怖。外界を求める懇願と祈り。そして、それをかき消すような、内容物をこなす水音。気のせいか、声の数も少なくなっていた。
  p
    | 「ふざけるな……返せ、仲間を返せぇぇぇっ！！！」
  p#p05
    | 先輩が、仲間たちが、竜の中で殺されていく。その怒りが、彼の表情を歪める。そして……#[span.spacing-3(area-hidden="true")]彼は、片手に握っていた短剣を、竜の前腕に突き立てた。
