footer
  picture.qr-code
    - const qrCodeFilePrefix = `/qr/${sha1(path)}`;
    source(srcset=`${qrCodeFilePrefix}.svg` type="image/svg+xml")
    img(src=`${qrCodeFilePrefix}.png`)
  = canonicalURL(rootURL, path)
