footer
  if Array.isArray(qrCodeImageFileList)
    -
      const svgImage = qrCodeImageFileList
        .find(({ path }) => /\.svgz?$/.test(path));
      const pngImage = qrCodeImageFileList
        .find(({ path }) => /\.png$/.test(path));
    if svgImage
      picture.qr-code
        source(srcset=`/${path2url(svgImage.path)}` type="image/svg+xml")
        img(src=`/${path2url(pngImage.path)}`)
    else if pngImage
      img.qr-code(src=`/${path2url(pngImage.path)}`)
  = canonicalURL(rootURL, path)
