footer
  if qrCodeImageFiles
    -
      const svgImage = qrCodeImageFiles.svg;
      const pngImage = qrCodeImageFiles.png;
    if svgImage && pngImage
      picture.qr-code
        source(srcset=`/${path2url(svgImage.path)}` type="image/svg+xml")
        img(src=`/${path2url(pngImage.path)}`)
    else if svgImage || pngImage
      img.qr-code(src=`/${path2url((svgImage || pngImage).path)}`)
  = canonicalURL(rootURL, path)
