# Redirect default Netlify subdomain to primary domain
https://{{netlifyDefaultSubdomain}}/* https://{{netlifyPrimaryDomain}}/:splat 301!

/test/* /.netlify/functions/test 200!

# tweetable-paragraphs rewrite paths #
