# Redirect default Netlify subdomain to primary domain
https://{{netlifyDefaultSubdomain}}/* https://{{netlifyPrimaryDomain}}/:splat 301!

/_fragment-anchors/:id/* /:splat?fragment=:id 301!
/* fragment=:id /_fragment-anchors/:id/:splat 200
/* fragment=:id /:splat 301
