---
title: 創作キャラ一覧
description: sounisi5011が創作したオリジナルキャラクターのまとめ/紹介ページ
localPageStyles:
  - /characters.css
preloadDependencies:
  - /characters.css
---

extends _layout

block content
  h1= title

  -
    function getProp(objList, propName) {
      const obj = objList.find(data => data.hasOwnProperty(propName));
      return obj ? obj[propName] : undefined;
    }
    function compareDefaultSort(a, b) {
      return [a, b].sort()[0] === a ? -1 : 1;
    }
    function sortSeries([seriesA, characterListA], [seriesB, characterListB]) {
      const aFirst = -1;
      const bFirst = 1;

      // シリーズ名のどちらかが空文字列の場合は先頭にソート
      if (!seriesA && seriesB) return aFirst;
      if (seriesA && !seriesB) return bFirst;

      const sortSeriesOrderA = getProp(characterListA, 'sortSeriesOrder');
      const sortSeriesOrderB = getProp(characterListB, 'sortSeriesOrder');

      // sortSeriesOrderプロパティを持たない作品シリーズは後ろにソート
      if (sortSeriesOrderA && !sortSeriesOrderB) return aFirst;
      if (!sortSeriesOrderA && sortSeriesOrderB) return bFirst;

      // sortSeriesOrderプロパティを持つ作品シリーズ同士は、sortSeriesOrderの値でソート
      if (sortSeriesOrderA && sortSeriesOrderB) {
        return sortSeriesOrderA - sortSeriesOrderB;
      }

      // sortSeriesOrderプロパティを持たない作品シリーズ同士は、シリーズ名の比較でソート
      return compareDefaultSort(seriesA, seriesB);
    }
    const characterRecord = collections.characters
      .reduce((obj, fileData) => {
        const url = rootRrelativeURL(fileData.path);
        const pathMatch = /^\/characters(?:\/([^/]+))?\/([^/]+)\/?$/.exec(url);
        const series = decodeURIComponent(pathMatch[1] || '');
        const name = decodeURIComponent(pathMatch[2]);
        if (!obj.hasOwnProperty(series)) {
          obj[series] = [];
        }
        obj[series].push(Object.assign({}, fileData, {
          name,
          url,
        }));
        return obj;
      }, {})

  each data in Object.entries(characterRecord).sort(sortSeries)
    - const [series, characterList] = data;
    if series
      h2= series
    dl.characters
      each characterData in characterList
        div
          dt
            a(href=characterData.url)= characterData.name
          dd
            != characterData.excerpt
  else
    p 創作キャラはまだ存在しません。
