---
title: 創作小説一覧
description: sounisi5011が創作した文章作品の掲載ページ
localPageStyles:
  - /novels.css
---

extends _layout

block content
  h1= title

  each novelData in [...collections.novels].reverse()
    h2
      a(href=rootRrelativeURL(novelData.path))= novelData.title
    - const pages = collections.novelsPages.filter(pageData => pageData.parentPage().path === novelData.path)
    if pages.length
      ul
        each pageData in pages
          li
            a(href=rootRrelativeURL(pageData.path))= pageData.title
  else
    p まだ無いよ
