---
title: Q - Time Out
description: 隙を見せた竜に、男は攻撃を仕掛ける。だがそれは、竜の食欲を刺激するだけだった。
sortOrder: 3
reprintNovel:
  source: http://green.ribbon.to/~keiru/mts/mts.cgi?mode=view&no=4&id=5011
  published: 2012-03-26 11:25:00 +09:00
  modified: 2012-03-28 10:09:00 +09:00
localPageStyles:
  - /novels.css
---

extends ../../_layout

block content
  h1= title

  p.
    ギーゼル「くそっ時間が・・・」#[br]
    #[br]
    俺は腕に取り付けていたカウンターを見て焦っていた。残り時間は・・・20時間。#[br]
    あれから二日たった・・・今日が期限の三日目だ。#[br]
    奴に真っ向から挑んでも勝てなかったのだから、不意打ちしかないと思う。#[br]
    なぜか銃は弟子になった途端返してくれ、隙があれば遠くからでも攻撃できる#[br]
    だから、隙を見つけたら即行で撃退しようと考えていたが・・・<b>隙が全くない</b>。#[br]
    いや、隙はあるにはある。なぜなら・・・#[br]
    #[br]
    リース「うーん・・・畜生！何から教えればいいんだ・・・」#[br]
    #[br]
    アイツは、俺を弟子にしたものの、何を教えれば良いのか分からないらしく、#[br]
    ずっと考え込んでいる。#[br]
    だから、後ろを向くことも多く、隙はある・・・のだが、銃を抜こうとしたり、撃とうとした途端に振り向いたり、顔をあげたりして、#[br]
    攻撃できない。#[br]
    このままではらちがあかない。やはり真っ向から殺るしか無いのか・・・#[br]
    #[br]
    リース「あーもう・・・考えすぎて何か眠い・・・非常に申し訳ないのですが。少し寝かせてくれ・・・ｚｚｚ」#[br]
    #[br]
    ギーゼル「あ、ああ・・・」#[br]
    #[br]
    ・・・と思っていたらようやく隙が出来た。よし、今だ！#[br]
    #[br]
    ズガッ!!#[br]
    #[br]
    リース「ｚｚｚ・・・うっ！」#[br]
    #[br]
    当たりはしたものの、大したダメージは受けていないようだ。くそ・・・#[br]
    #[br]
    リース「うう・・・まさか、弟子になったのは・・・」#[br]
    #[br]
    ギーゼル「そうさ・・・俺は最初からこれが目的だったんだ！」#[br]
    #[br]
    リース「・・・何故自分の命を懸けてまで戦うんだ？」#[br]
    #[br]
    ギーゼル「・・・今日までにお前を撃退しないと、俺の娘が・・・」#[br]
    #[br]
    リース「あー・・・人質に捕られてるっていうようなパターンか。その気持ちはよくわかる・・・でも、俺も負ける気は無いんでね。#[br]
    おまけに今みたいに寝てる間に不意打ちとあっちゃ・・・手加減なしで行くぞ。悪いな」#[br]
    #[br]
    くそ・・・また真っ向勝負に・・・だが今度は銃は奪い取られていない。#[br]
    遠くから攻撃できる為、勝てるかも知れない・・・#[br]
    #[br]
    ギーゼル「くっ・・・こい！」#[br]
    #[br]
    #[br]
    一分後・・・#[br]
    #[br]
    #[br]
    ギーゼル「うっ・・・あ・・・くそ・・・」#[br]
    #[br]
    リース「銃使っても・・・同じ結果になったな」#[br]
    #[br]
    惨敗だ。俺は押し倒され、また上から押さえつけられている。#[br]
    銃は遠くにあり、取れそうにもない。#[br]
    #[br]
    リース「分かってるかどうか知らんが一応言っておく。もう弟子にしてくれとか、そんなことしても助けんからな」#[br]
    #[br]
    グ<small>ウウ</small>・・・#[br]
    #[br]
    リース「ありゃ、こんな時に腹減ったな・・・悪いけど、腹に入ってもらうぞ」#[br]
    #[br]
    ギーゼル「まさか・・・俺を食う気か！？」#[br]
    #[br]
    リース「普段は絶対に食べないけどな。でも良かったじゃん。ただ無駄死にするんじゃなく、誰かの糧になれるんだからさ」#[br]
    #[br]
    ギーゼル「ふざけるｎ・・・」#[br]
    #[br]
    ベロッ#[br]
    #[br]
    ギーゼル「ッ・・・」#[br]
    #[br]
    リース「美味いな。防具が邪魔だがそれを取れば・・・」#[br]
    #[br]
    ギーゼル「な、何をする！やめ・・・」#[br]
    #[br]
    #[br]
    さらに一分後・・・#[br]
    #[br]
    #[br]
    ギーゼル「あ・・・やめろぉぉ・・・」#[br]
    #[br]
    リース「はずかしいのかぁ？服より自分の命を心配したらどうなのよ」#[br]
    #[br]
    俺はほぼ素っ裸にされ、防具やら装備やら服やら・・・全部取られた。#[br]
    一瞬、このまま外に放り出されるくらいなら、食われた方がずっと良いかも知れないと考えてしまった・・・#[br]
    #[br]
    リース「・・・へえ、帰るより食われた方がマシなんだ。じゃあさっさと食おう」#[br]
    #[br]
    ギーゼル「え・・・」#[br]
    #[br]
    リース「驚いて当然だよな。触っている相手限定だけどな、相手の心読めるんだよ俺。これは魔法じゃないぞ・・・さてと、食われるまでの時間引き伸ばされたら精神的に辛くなるだろ。それじゃ・・・ポイっと」#[br]
    #[br]
    俺は奴に・・・まるでスナックの様に空中に投げ出された、落ちていく先には奴の口が・・・#[br]
    #[br]
    ギーゼル「や、止め・・・」#[br]
    #[br]
    バクッ！#[br]
    #[br]
    リース「・・・あまり人間とかは食わんけど・・・旨いよなあ、ホントに。人が好物になる奴がいるのにもうなずける・・・」#[br]
    #[br]
    ギーゼル「うa・・・いやd・・・死n・・・なi・・・」#[br]
    #[br]
    ゴクッ・・・#[br]
    #[br]
    リース「ふう・・・」#[br]
    #[br]
    俺は・・・あっさりと、飲み込まれてしまった。#[br]
    抵抗しようとはしたものの、ただでさえ唾液で濡れてしまい、滑ってつかむことさえ出来なかった。#[br]
    おかげで抵抗らしい抵抗も出来ず、文字通りあっさりと、飲まれて・・・いや、食われてしまった。#[br]
    #[br]
    ズズ・・・ベチャ！#[br]
    #[br]
    ギーゼル「ウウ・・・」#[br]
    #[br]
    ここが、胃・・・食べた物を殺菌し、一時的に保存しておく場所・・・だが、殺菌と同時に、#[br]
    食べた物を溶かすという機能も持っている。#[br]
    つまり・・・”食べた物”である”食われてしまった者”・・・つまり俺もまた、#[br]
    殺菌と同時に溶かされるという運命に・・・って#[br]
    #[br]
    ギーゼル「ふざけるな・・・俺はまだ死ねn！？あああアアアー！！！」#[br]
    #[br]
    ジュー・・・#[br]
    #[br]
    熱い！・・・これは、胃液！？#[br]
    おまけに、胃が蠕動を始めたせいで揺すられ、体中に胃液が！#[br]
    #[br]
    ギーゼル「ギャアアァァァー！！痛い！痛い！痛いぃぃ！！」#[br]
    #[br]
    リース「お。もう始まったか。早いなぁ。まあ、少し残酷ではあるが、自業自得ってもんだ。残念でした。#[br]
    ・・・そもそも俺が何したって言うんだよ・・・勝手に討伐しようとしやがって。#[br]
    さぁて、睡眠邪魔されたからもう一回寝よっと。」#[br]
    #[br]
    ギーゼル「アア・・・ァ・・・ァ・・・・」
