---
title: Q
description: 隙を見せた竜に、男は攻撃を仕掛ける。だがそれは、竜の食欲を刺激するだけだった。
sortOrder: 3
reprintNovel:
  source: http://green.ribbon.to/~keiru/mts/mts.cgi?mode=view&no=4&id=5011
  published: 2012-03-26 11:25:00 +09:00
  modified: 2012-03-28 10:09:00 +09:00
localPageStyles:
  - /novels.css
---

extends ../_page-layout

block novel-body
  aside.message
    p
      time(datetime=formatDate(reprintNovel.published, '%<time>', timezone*60))
        <ruby>古<rp>（</rp><rt>いにしえ</rt><rp>）</rp></ruby>
        | の時代
      | に書かれた作品。
      a(href=reprintNovel.source target="_blank") 某所
      | から転載しました。

  p.
    ギーゼル「くそっ時間が・・・」
  p.
    俺は腕に取り付けていたカウンターを見て焦っていた。残り時間は・・・20時間。#[br]
    あれから二日たった・・・今日が期限の三日目だ。#[br]
    奴に真っ向から挑んでも勝てなかったのだから、不意打ちしかないと思う。#[br]
    なぜか銃は弟子になった途端返してくれ、隙があれば遠くからでも攻撃できる#[br]
    だから、隙を見つけたら即行で撃退しようと考えていたが・・・#[em 隙が全くない]。#[br]
    いや、隙はあるにはある。なぜなら・・・
  p.
    リース「うーん・・・畜生！何から教えればいいんだ・・・」
  p.
    アイツは、俺を弟子にしたものの、何を教えれば良いのか分からないらしく、#[br]
    ずっと考え込んでいる。#[br]
    だから、後ろを向くことも多く、隙はある・・・のだが、銃を抜こうとしたり、撃とうとした途端に振り向いたり、顔をあげたりして、#[br]
    攻撃できない。#[br]
    このままではらちがあかない。やはり真っ向から殺るしか無いのか・・・
  p.
    リース「あーもう・・・考えすぎて何か眠い・・・非常に申し訳ないのですが。少し寝かせてくれ・・・ｚｚｚ」
  p.
    ギーゼル「あ、ああ・・・」
  p.
    ・・・と思っていたらようやく隙が出来た。よし、今だ！
  p.
    ズガッ!!
  p.
    リース「ｚｚｚ・・・うっ！」
  p.
    当たりはしたものの、大したダメージは受けていないようだ。くそ・・・
  p.
    リース「うう・・・まさか、弟子になったのは・・・」
  p.
    ギーゼル「そうさ・・・俺は最初からこれが目的だったんだ！」
  p.
    リース「・・・何故自分の命を懸けてまで戦うんだ？」
  p.
    ギーゼル「・・・今日までにお前を撃退しないと、俺の娘が・・・」
  p.
    リース「あー・・・人質に捕られてるっていうようなパターンか。その気持ちはよくわかる・・・でも、俺も負ける気は無いんでね。#[br]
    おまけに今みたいに寝てる間に不意打ちとあっちゃ・・・手加減なしで行くぞ。悪いな」
  p.
    くそ・・・また真っ向勝負に・・・だが今度は銃は奪い取られていない。#[br]
    遠くから攻撃できる為、勝てるかも知れない・・・
  p.
    ギーゼル「くっ・・・こい！」
  p.spacing-2.
    一分後・・・
  p.
    ギーゼル「うっ・・・あ・・・くそ・・・」
  p.
    リース「銃使っても・・・同じ結果になったな」
  p.
    惨敗だ。俺は押し倒され、また上から押さえつけられている。#[br]
    銃は遠くにあり、取れそうにもない。
  p.
    リース「分かってるかどうか知らんが一応言っておく。もう弟子にしてくれとか、そんなことしても助けんからな」
  p.
    グゥゥ・・・
  p.
    リース「ありゃ、こんな時に腹減ったな・・・悪いけど、腹に入ってもらうぞ」
  p.
    ギーゼル「まさか・・・俺を食う気か！？」
  p.
    リース「普段は絶対に食べないけどな。でも良かったじゃん。ただ無駄死にするんじゃなく、誰かの糧になれるんだからさ」
  p.
    ギーゼル「ふざけるｎ・・・」
  p.
    ベロッ
  p.
    ギーゼル「ッ・・・」
  p.
    リース「美味いな。防具が邪魔だがそれを取れば・・・」
  p.
    ギーゼル「な、何をする！やめ・・・」
  p.spacing-2.
    さらに一分後・・・
  p.
    ギーゼル「あ・・・やめろぉぉ・・・」
  p.
    リース「はずかしいのかぁ？服より自分の命を心配したらどうなのよ」
  p.
    俺はほぼ素っ裸にされ、防具やら装備やら服やら・・・全部取られた。#[br]
    一瞬、このまま外に放り出されるくらいなら、食われた方がずっと良いかも知れないと考えてしまった・・・
  p.
    リース「・・・へえ、帰るより食われた方がマシなんだ。じゃあさっさと食おう」
  p.
    ギーゼル「え・・・」
  p.
    リース「驚いて当然だよな。触っている相手限定だけどな、相手の心読めるんだよ俺。これは魔法じゃないぞ・・・さてと、食われるまでの時間引き伸ばされたら精神的に辛くなるだろ。それじゃ・・・ポイっと」
  p.
    俺は奴に・・・まるでスナックの様に空中に投げ出された、落ちていく先には奴の口が・・・
  p.
    ギーゼル「や、止め・・・」
  p.
    バクッ！
  p.
    リース「・・・あまり人間とかは食わんけど・・・旨いよなあ、ホントに。人が好物になる奴がいるのにもうなずける・・・」
  p.
    ギーゼル「うa・・・いやd・・・死n・・・なi・・・」
  p.
    ゴクッ・・・
  p.
    リース「ふう・・・」
  p.
    俺は・・・あっさりと、飲み込まれてしまった。#[br]
    抵抗しようとはしたものの、ただでさえ唾液で濡れてしまい、滑ってつかむことさえ出来なかった。#[br]
    おかげで抵抗らしい抵抗も出来ず、文字通りあっさりと、飲まれて・・・いや、食われてしまった。
  p.
    ズズ・・・ベチャ！
  p.
    ギーゼル「ウウ・・・」
  p.
    ここが、胃・・・食べた物を殺菌し、一時的に保存しておく場所・・・だが、殺菌と同時に、#[br]
    食べた物を溶かすという機能も持っている。#[br]
    つまり・・・”食べた物”である”食われてしまった者”・・・つまり俺もまた、#[br]
    殺菌と同時に溶かされるという運命に・・・って
  p.
    ギーゼル「ふざけるな・・・俺はまだ死ねn！？あああアアアー！！！」
  p.
    ジュー・・・
  p.
    熱い！・・・これは、胃液！？#[br]
    おまけに、胃が蠕動を始めたせいで揺すられ、体中に胃液が！
  p.
    ギーゼル「ギャアアァァァー！！痛い！痛い！痛いぃぃ！！」
  p.
    リース「お。もう始まったか。早いなぁ。まあ、少し残酷ではあるが、自業自得ってもんだ。残念でした。#[br]
    ・・・そもそも俺が何したって言うんだよ・・・勝手に討伐しようとしやがって。#[br]
    さぁて、睡眠邪魔されたからもう一回寝よっと。」
  p.
    ギーゼル「アア・・・ァ・・・ァ・・・・」

  aside.message
    h2 作者メッセージ
    p.
      ああ・・・捕食描写が下手すぎるぅぅ！！#[br]
      最初に書いていた、「夢の内容」はここでおしまいです。#[br]
      つまり、

    ol
      li 主人公、竜を討伐しに来る。
      li ボロ負け。
      li 弟子入りする。
      li 時間が無い。
      li もう一度戦う。
      li 負ける。
      li 食われる。

    p.
      これが夢の内容だった訳です。
