---
title: 完
description: 竜の腹の中で溶かされ、男の命は尽きた。だが彼の人生は、そこで終わりはしなかった。
sortOrder: 4
reprintNovel:
  source: http://green.ribbon.to/~keiru/mts/mts.cgi?mode=view&no=5&id=5011
  published: 2012-03-28 01:02:00 +09:00
  modified: 2012-03-28 11:22:00 +09:00
localPageStyles:
  - /novels.css
---

extends ../_page-layout

block novel-body
  aside.message
    p
      time(datetime=formatDate(reprintNovel.published, '%<time>', timezone*60))
        <ruby>古<rp>（</rp><rt>いにしえ</rt><rp>）</rp></ruby>
        | の時代
      | に書かれた作品。
      a(href=reprintNovel.source target="_blank") 某所
      | から転載しました。
    p
      | オリジナルの稚拙な文体を残すため、#[strong 句読点の誤りや表現の修正などは一切行っていません]。
      | 黒歴史ですので、心して読んでください。

  p.
    ※ここからは主人公が居ないため、第三者目線でいきます。
  p.spacing-2.
    数時間後・・・
  p.
    リース「ファァ・・・ンー・・・#[wbr]流石にもう終わってるよな・・・」
  p.
    数時間が経過した今、彼は・・・ギーゼルベルト = バッヘムは、#[wbr]肉体こそ多少は残っているものの、#[wbr]
    命の灯火はとっくに消えていた。
  p.
    リース「・・・よし、蘇生作業するか。#[wbr]早くしないと出来なくなるし」
  p.
    そう、彼は・・・初めから、そのつもりでいた。#[wbr]
    ギーゼルからすれば、#[wbr]寝ようとしたところを起こして不機嫌になり、#[wbr]それで殺されたと考えるのが妥当だろう。#[wbr]
    だが彼は、性格的に、#[wbr]自分の都合で他者の命を奪うのが嫌いだった。#[wbr]
    生きるためならまだしも、#[wbr]不機嫌になったという理由だけで”死”という罰は、#[wbr]与えたくはなかったのだ。#[wbr]
    ではなぜ殺したのか・・・#[wbr]後で蘇生出来るのも理由のひとつであり、#[wbr]裏切った罰を与えるのも理由の一つだった。#[wbr]
    だがそれなら、何も殺さなくてもよかった。#[wbr]わざわざ殺したのは、もっと別の理由があったからだ。
  p.
    リース「こうして・・・ここにコアをセットして・・・よし、出来た。」
  p.
    普通、蘇生には魔法を使うのが通例である。#[wbr]一部では科学技術で蘇生装置を作り出した者もいるが、大抵は魔法である。#[wbr]
    実際、殆どの者が魔法陣や呪文等を使い、蘇生させている。#[wbr]
    だが、彼の場合、科学とも魔法とも違う別の方法で蘇生させようとしていた。#[wbr]
    恐らく、まだ誰も知らない方法だろう。
  p.
    リース「これで・・・回路はいいはずだ。#[wbr]間違えたら悪魔とか呼び出しちゃうからな。よし。」
  p.
    そして今作った、魔法陣とも機械ともつかない奇妙なものに向き合い
  p.
    リース「生と死を司るものよ・・・我の名前はリース。#[wbr]
    これより、蘇生注文を行う・・・D570184・・・F237434・・・α5284・・・β5・・」
  p.
    ”おお、久しぶりだな！”
  p.
    突然、声が聞こえ始める。#[wbr]耳ではなく頭に直接話しかけてくるような・・・
  p.
    ”何日ぶりだ？”
  p.
    リース「さあ？それより蘇生したいんだが・・・」
  p.
    うんざりしたように彼は答えた。
  p.
    ”ああそうだ。本題忘れる所だった。#[wbr]それで・・・死因は？”
  p.
    リース「消化だ。」
  p.
    ”・・・ってことはお前に食われたんだな。#[wbr]ちょっと待ってくれ、履歴を参照・・・あったぞ。#[wbr]種族は？名前でもいいんだけど。”
  p.
    リース「人間だ。付け加えると、名前はギーゼルベルト = バッヘム。」
  p.
    彼がギーゼルの名前を知っているのは、#[wbr]前回本竜（本人）がいった通り、#[wbr]さわっている相手の心が読める為だ。#[wbr]
    食べてから消化で死ぬまで、リースはギーゼルに体内で接触していた、#[wbr]
    おかげで、名前はもちろん、彼の殆どの記憶が読み取れた。
  p.
    ”あったぞ、ギーゼルベルト = バッヘム。#[wbr]あいつらの世界の掟を破ったから囚われの身になっていたけど、#[wbr]
    お前を今日までにやっつければ逃がしてもらえるかも知れないってことで此処に来たようだ。#[wbr]
    ついでにいっとくけど、今日中に倒せなかったらまた囚われるだけじゃなく、#[wbr]自分の子供も殺されるらしいから来たようだ。”
  p.
    リース「ああ、記憶を読み取ったから知っている。」
  p.
    ”生前の記憶も残ってるし、肉体のログも残ってるな・・・#[wbr]問題なし。じゃあこいつを蘇生させるぞー”
  p.
    リース「まった！」
  p.
    ”何だ？”
  p.
    リース「ただ蘇生するんだったら故意に殺したりはしないっつーの！#[wbr]
    わざわざ頼んだのは、蘇生する際に体を獣人に変えてほしいんだ。」
  p.
    ”・・・あーそーゆーことか。”
  p.
    リース「あっちの世界ではどうも獣人の方が有利みたいなんだ」
  p.
    ”・・・何か企んでるな。”
  p.
    リース「ああ。あいつの記憶を覗いたら・・・#[wbr]もっと家族を増やしたいのに、掟で・・・法律で二人作ったら罰せられる。#[wbr]
    自分らは人間だから、下手したら死刑になるかも知れない。#[wbr]それでも・・・という覚悟を決めて、子供を作っていたんだ。#[wbr]
    俺は、最初に尻尾で弾き飛ばした時に何か強い心を感じた。#[wbr]だからこそ決めたんだ。こいつと、その子供を助けようって。」
  p.
    ”だんだん分かってきたぞ・・・#[wbr]つまり、こいつと殺されそうな子供を獣人にして、#[wbr]記憶を消し、
    新しい生活を始めさせる・・・#[wbr]と、そういう魂胆か。”
  p.
    リース「おお、ご名答。やってくれるか？」
  p.
    ”よくもまあ他者の事なのにそこまでやる決心がついたよなぁ、よっぽど心動かされたな#[wbr]
    ・・・よしわかった！後は全部任せとけ！！”
  p.
    リース「ありがとうな、呼んで正解だったよ。頼りにしてるぞ」
  p.
    ”でも他者の運命を変えるような事だからな・・・今回だけだぞ。次は無いからな”
  p.
    リース「分かってる。じゃあ次回もし蘇生する時になったらまた頼むぞ」
  p.
    ”了解！じゃあ・・・”
  p.
    リース「待った！」
  p.
    ”何だ？”
  p.
    リース「一つだけ、腑に落ちないことがある。#[wbr]俺は此処の近くにすんでいるやつらの街を襲ったりしていない。」
  p.
    ”まあそうだよな。”
  p.
    リース「でもあいつの記憶には・・・#[wbr]近くの街を襲っているから#[wbr]やっつけろという風に指示された記憶があるんだ。#[wbr]
    写真は間違いなく俺だった。これはどういうことだ？」
  p.
    ”・・・あー分かったぞ。#[wbr]このギーゼルベルトって言うやつに#[wbr]お前をやっつけるよう指示した奴らは、#[wbr]
    初めっから殺すつもりでいたらしい。こいつを。#[wbr]
    だから何もしていないお前のところに送り込んで#[wbr]無実の罪をきせ、怒らせて殺させようとしたんだ。”
  p.
    リース「・・・なんという・・・」
  p.
    ”まあこっちには関係無い事だけどな。#[wbr]新しい生活を始めさせるって言うのは良かったんじゃないか？#[wbr]それじゃ・・・”
  p.
    そこで声は聞こえなくなった。#[wbr]
    今の会話から分かる通り、リースは単なる蘇生の為ではなく、#[wbr]彼らを救うために、#[wbr]
    恐らくリース以外誰も知らない方法・・・#[b 蘇生注文]を行ったのである。#[wbr]
    極めて分かりやすく言うと、蘇生注文とは、交渉して蘇生する方法である。#[wbr]
    交渉という手段を挟むが故に、あっという間に終わるわけではないものの、#[wbr]
    今の様に、ただ蘇生するだけでなく、#[wbr]交渉次第では蘇生する際の肉体や記憶の変更、#[wbr]
    果ては後のことも任せられるなど、かなり自由度が高いのである。#[wbr]
    ただし欠点は、交渉相手と話すためには#[wbr]ただの魔法陣等ではダメで、#[wbr]その他にも色々な事をしなくてはならないこと。#[wbr]
    床に書いてある魔法陣でさえ極めて複雑で、#[wbr]とても真似できそうに無いが、#[wbr]その上に更に何かとても複雑な機械も乗っている。#[wbr]
    素人は当然のこと、恐らく専門家でさえ#[wbr]真似できないかも知れない。#[wbr]
    夢で浮かんだ事を実践してみたら#[wbr]出来るようになったリースだが、#[wbr]
    頭に完璧に浮かんでいても#[wbr]出来るまで半年もかかっていた。
  p.
    リース「・・・何か物凄い事に巻き込まれていたんだな・・・#[wbr]それにしても、あいつ、どんな生活を送るのかな・・・」
  p.spacing-2.
    何日か後・・・
  p.
    「うっ・・・ここは・・・」
  p.
    気が付くと、そこは小高い土手だった。#[wbr]
    まわりには一面に草が生えている。#[wbr]
    立ち上がってみると、先の方に都市が見える。あの町は・・・
  p.
    「・・・ユニオンシティ・・・」
  p.
    自然と都市名が口から漏れる。そうだ、あの街はユニオンシティ。#[wbr]
    確か本で・・・いや待て、本？#[wbr]そんな本は読んだ覚えは・・・と言うより本なんて読んだ覚えすら・・・#[wbr]待てよ、
    私の名前・・・#[wbr]分からない。#[wbr]何だろう。何か恐ろしいめにあった気がするのだが・・・
  p.
    ？「うう・・・んんん・・・」
  p.
    その時はじめて、私の他にも誰かが居ることが分かった。#[wbr]
    目を向けるとそこには、まだ子供の獣人が眠っていた。#[wbr]
    誰かは分からない。だが何となく
  p.
    「私の子供・・・」
  p.
    それだけは分かった。#[wbr]
    そう、自分の名前も子供の名前も、生まれた場所も、親が誰なのかも・・・#[wbr]
    そもそも自分は何者なのかも覚えていないが、これだけは覚えている。”この子供は自分の子”だと。

  aside.message
    h2 作者メッセージ
    p.
      やっぱり最後はグダグダにぃ～！
    p.
      この話はオマケの様なものです。#[wbr]
      夢にもこんなシーンは全くありませんでした。#[wbr]
      しかし、書いていくうちに、この様などんでん返しを・・・最後はただ蘇生されたのではなく、#[wbr]
      人生を変えてもらったという結末を書かせていただきました。#[wbr]
      反省点としては、やはり・・・#[wbr]”蘇生注文”の説明が長ったらしく要点をちゃんと解説出来なかったことと、#[wbr]
      描写を上手く説明出来なかったことですかね・・・
