---
title: 序
description: 異なる歴史を歩んだ世界。終身刑を言い渡された男は、竜の討伐を条件に減刑を求める。
sortOrder: 1
reprintNovel:
  source: http://green.ribbon.to/~keiru/mts/mts.cgi?mode=view&no=2&id=5011
  published: 2012-03-25 09:44:00 +09:00
  modified: 2012-03-27 18:10:00 +09:00
localPageStyles:
  - /novels.css
---

extends ../_page-layout

block novel-body
  aside.message
    p
      time(datetime=formatDate(reprintNovel.published, '%<time>', timezone*60))
        +ruby('古', 'いにしえ')
        | の時代
      | に書かれた作品。
      a(href=reprintNovel.source target="_blank") 某所
      | から転載しました。
    p
      | オリジナルの#[+ruby('稚拙', 'ちせつ')]な文体を残すため、#[strong 句読点の誤りや表現の修正などは一切行っていません]。
      | 黒歴史ですので、心して読んでください。

  p
    .
      ここは、現在よりも少し先の未来。#[wbr]具体的に言うと、2012年9月3日である。#[wbr]
      未来とは言っても、たかが6か月先の世界なので、#[wbr]都市も、世界情勢も、現在と何ら変わりはない・・・#[wbr]はずだった。#[br]
      だが1999年7月・・・ノストラダムスの予言の日、#[wbr]「時震」と呼ばれる、宇宙が誕生してからまだ2回しか起こっていない大惨事が発生、#[wbr]
      その結果、
    br
    span.spacing-2(role="presentation").
      　　 僕らの宇宙・・・ノストラダムスの予言の日に何も起こらず、「時震」も存在すら知られていない世界と、#[br]
      もう一つの宇宙・・・「時震」により時空間が歪み、別の世界に住んでいた竜、幻獣、獣人、魔王等が入り込んでしまった世界、
    br
    .
      の、二つに分かれてしまった。#[br]
      これから書かれることは、もう一つの宇宙で生きる、一人の男の物語である。
  hr.spacing-5
  p.
    ？「・・・もう朝か」
  p.
    俺が目を開けると、いつもの様に、暗く、シミがついた金属製の監獄の天井が目に入る。#[wbr]
    まわりを見ても同じ壁が、四方を囲んでいる。#[wbr]いや、一か所だけ、この監獄で唯一壁ではない場所がある。#[wbr]
    それが目の前にある扉・・・強化プラスチック製の窓がついた扉だ。

  p.
    俺の名前は、ギーゼルベルト = バッヘム。#[wbr]
    監獄にいるという状況からわかると思うが、俺は罪人だ。#[wbr]
    俺の罪状は・・・二人目の子供を育てていたこと。#[wbr]
    あの大惨事で種族が増えたうえ、#[wbr]一緒に現れた魔王やら竜やらが#[wbr]次々と土地を占領、#[wbr]結果、人口密度は高くなった。#[wbr]
    そこで国連では対策として#[wbr]かつての中国の一人っ子政策の#[wbr]ような制度を実行。#[wbr]
    国民の反対意見は無視され、#[wbr]あらゆる国が次々と批准。#[wbr]大半の国民は猛反発したが、#[wbr]処罰が厳しくなるにつれ、#[wbr]真っ向から反発するものは#[wbr]一人も居なくなった。
  p.
    ？「・・・ギーゼル？起きてるか？？」
  p.
    ギーゼル「ああ、テッドか。そろそろ朝食なのか？」
  p.
    テッド「まあそれもあるんだが・・・」
  p.
    こいつは俺の友人、テッド = ワイマン。#[wbr]
    あの大惨事以前からの中だが、あの後何者かに魔法をかけられ、今は狼獣人に変えられてしまった。#[wbr]
    この監獄の看守という役職についていて、食事を運んで来たりしている。#[wbr]
    その時に、囚人の俺には知りえない#[wbr]情報を教えてくれたり、#[wbr]いろいろ手助けしてくれる。
  p.
    テッド「担当の囚人が皆#[wbr]お前みたいな性格だといいんだけどなぁ・・・#[wbr]こないだも、1098番に食事を運んだら#[wbr]いきなり手を捕まれて、#[wbr]その時に引っかかれて#[wbr]みみずばれが出来ちまった」
  p.
    ギーゼル「死刑執行が#[wbr]確定したりしたら#[wbr]死にもの狂いで#[wbr]出たくなるのも#[wbr]当然だろうな」
  p.
    テッド「まあな。#[wbr]でも殺人とかをして#[wbr]死刑なら分かるけど、#[wbr]獣人の物を盗んで死刑は無いだろ。#[wbr]しかもパン一個だぜ・・・」
  p.
    あの大惨事の時、難民として現れたのが獣人達だった。#[wbr]
    難民と救護者、その関係がこの10年で#[wbr]貴族と平民の様な関係に変わってしまった。#[wbr]
    なぜそうなったかは分からない。#[wbr]ただ気が付けば、世の中はそんな風に#[wbr]変わってしまっていた。#[wbr]
    人口規制に違反したというだけで#[wbr]終身刑になったのも。#[wbr]俺がホモ・サピエンス・・・#[wbr]”裸のサル”である人間だからだ。
  p.
    テッド「俺みたいに#[wbr]姿を変えられた奴は#[wbr]運がいいけどな・・・」
  p.
    ギーゼル「いや、#[wbr]反対に人間に姿を変えられた奴もいるらしい。#[wbr]お前は結構運がいいぞ」
  p.
    テッド「確かにな。#[wbr]どうしてこんな世の中になったんだか・・・#[wbr]そうそう、お前にいい知らせがあるぞ」
  p.
    ギーゼル「なんだ？」
  p.
    テッド「確定しているかどうかも分からんし、#[wbr]
    いったい何でこんなことになるのか分からないけど・・・#[wbr]#[b ここを出れるかも知れないぞ。]」
  p.
    ギーゼル「・・・何だって？」
  p.
    俺は自分の耳を疑った。#[wbr]今まで、確定した刑が#[wbr]変更になることは無かった。#[wbr]
    魔法とかつての科学と組み合わせた方法で#[wbr]思考を読み取る装置が開発されたため、#[wbr]
    物的証拠が無くても#[wbr]罪を証明出来るようになり、#[wbr]自白しても無実であること、#[wbr]無罪を主張しても#[wbr]有罪であることが#[wbr]確定するため、#[wbr]
    判決は正確になり、#[wbr]後からの変更は#[wbr]全く無くなってしまった。#[wbr]となると・・・まさか！
  p.
    ギーゼル「テッド・・・#[wbr]確かに俺はここを出たい。#[wbr]だけど、脱獄してまで#[wbr]出るつもりはないぞ」
  p.
    テッド「・・・いやいや脱獄じゃないさ。」
  p.
    ギーゼル「なに！？」
  p.
    テッド「いや、だから俺も#[wbr]信じられないんだけどな。#[wbr]どうも刑を軽減する#[wbr]何かをやるらしい」
  p.
    ギーゼル「何か・・・」
  p.
    テッド「それが何なのかは分からん。#[wbr]噂で聞いたしな。#[wbr]でももしそうだとしたら。#[wbr]終身刑じゃ無くなるかも・・・#[wbr]おっとそろそろ行かないと。」
  p.
    ギーゼル「何か・・・か」
  p.
    何なのだろうか・・・
  p.spacing-5(role="separator").
    一週間後
  p.
    #[span.small ・・・きろ]・・・きろ！起きろ！
  p.
    ギーゼル「んあ・・・なんだ？」
  p.
    看守「面会者だ。出ろ。」
  p.
    面会者？いったい誰だろう・・・
  p.
    ギーゼル「あれ？あんたらはたしか・・・」
  p.
    俺に会いに来た面会者は、俺を有罪にした裁判官と、俺の担当をした刑事、そして、あと一人、スーツ姿の男だった。#[wbr]
    理不尽ではあるが、法をおかしたのは事実なので、俺は恨んではいない。
  p.
    刑事「今回君と面会したのは、#[wbr]ある新しい制度の適用者第一号に#[wbr]君が選ばれたためだ。」
  p.
    ギーゼル「新しい制度？」
  p.
    スーツ姿の男「君も#[wbr]ワイマン看守から#[wbr]聞いているはずだ」
  p.
    ！！なぜコイツが俺とテッドの話を・・・
  p.
    ギーゼル「・・・さあ・・・何の事だか」
  p.
    スーツ姿の男「とぼけても無駄だ。#[wbr]囚人と看守とのやり取りは#[wbr]全て監視しているんだ。」
  p.
    ギーゼル「何？」
  p.
    スーツ姿の男「まあ、脱獄を企てていたりとか、#[wbr]そういった類を防ぐための監視だ。#[wbr]
    普通の情報交換といった類は、表向きはタブーでも無視しているがね。#[wbr]
    ああちなみに、私はこの刑事施設の担当者だ。#[wbr]この二人みたいな#[wbr]頭の固いムスッとした奴じゃないぞ♪」
  p.
    裁判官「・・・もう少し真面目にやったらどうなんだ」
  p.
    担当者「凶悪犯罪を起こした囚人ならまだしも、#[wbr]子供作っただけで捕まった囚人ですよ。#[wbr]大丈夫ですって。」
  p.
    ギーゼル「・・・それで、その制度って何だ？」
  p.
    刑事「そのことだが・・・」
  p.
    担当者「まった。私が説明する。#[wbr]えーっと、簡単に言うと、国の為に一つ仕事をしてもらうんだ。#[wbr]成功したら刑を軽くするし、#[wbr]
    場合によっては取り消されるかも知れない。#[wbr]と、そういう制度だ。」
  p.
    刑事「そして今回。その制度を実行する囚人が決まった。#[wbr]それが君だ」
  p.
    ギーゼル「・・・何で俺が選ばれた？」
  p.
    刑事「今回の仕事だが・・・力があるものでないと務まらないのだ。#[wbr]それに、君は終身刑だしな」
  p.
    ギーゼル「何？」
  p.
    担当者「仕事の内容を聞けば分かる。#[wbr]終身刑、もしくは#[wbr]死刑囚じゃないと務まらない・・・#[wbr]というよりやってくれない」
  p.
    ギーゼル「？」
  p.
    裁判官「最初に仕事内容を話した方がいいな。#[wbr]その内容とは・・・#[span.spacing-25.spacing-vh(aria-hidden="true")]
    竜の撃退だ」
