---
title: 序
description: 異なる歴史を歩んだ世界。終身刑を言い渡された男は、竜の討伐を条件に減刑を求める。
sortOrder: 1
reprintNovel:
  source: http://green.ribbon.to/~keiru/mts/mts.cgi?mode=view&no=2&id=5011
  published: 2012-03-25 09:44:00 +09:00
  modified: 2012-03-27 18:10:00 +09:00
localPageStyles:
  - /novels.css
---

extends ../_page-layout

block novel-body
  p.
    ここは、現在よりも少し先の未来。#[br]
    具体的に言うと、2012年9月3日である。#[br]
    未来とは言っても、たかが6か月先の世界なので、都市も、世界情勢も、現在と何ら変わりはない・・・はずだった。#[br]
    だが1999年7月・・・ノストラダムスの予言の日、#[br]
    「時震」と呼ばれる、宇宙が誕生してからまだ2回しか起こっていない大惨事が発生、#[br]
    その結果、#[br.spacing-2]
    　　 僕らの宇宙・・・ノストラダムスの予言の日に何も起こらず、「時震」も存在すら知られていない世界と、#[br]
    もう一つの宇宙・・・「時震」により時空間が歪み、別の世界に住んでいた竜、幻獣、獣人、魔王等が入り込んでしまった世界、#[br.spacing-2]
    の、二つに分かれてしまった。#[br]
    これから書かれることは、もう一つの宇宙で生きる、一人の男の物語である。#[br]
  hr.spacing-5
  p.
    ？「・・・もう朝か」
  p.
    俺が目を開けると、いつもの様に、暗く、シミがついた金属製の監獄の天井が目に入る。#[br]
    まわりを見ても同じ壁が、四方を囲んでいる。いや、一か所だけ、この監獄で唯一壁ではない場所がある。#[br]
    それが目の前にある扉・・・強化プラスチック製の窓がついた扉だ。#[br]
    俺の名前は、ギーゼルベルト = バッヘム。#[br]
    監獄にいるという状況からわかると思うが、俺は罪人だ。#[br]
    俺の罪状は・・・二人目の子供を育てていたこと。#[br]
    あの大惨事で種族が増えたうえ、一緒に現れた魔王やら竜やらが次々と土地を占領、結果、人口密度は高くなった。#[br]
    そこで国連では対策としてかつての中国の一人っ子政策のような制度を実行。#[br]
    国民の反対意見は無視され、あらゆる国が次々と批准。大半の国民は猛反発したが、処罰が厳しくなるにつれ、真っ向から反発するものは一人も居なくなった。
  p.
    ？「・・・ギーゼル？起きてるか？？」
  p.
    ギーゼル「ああ、テッドか。そろそろ朝食なのか？」
  p.
    テッド「まあそれもあるんだが・・・」
  p.
    こいつは俺の友人、テッド = ワイマン。#[br]
    あの大惨事以前からの中だが、あの後何者かに魔法をかけられ、今は狼獣人に変えられてしまった。#[br]
    この監獄の看守という役職についていて、食事を運んで来たりしている。#[br]
    その時に、囚人の俺には知りえない情報を教えてくれたり、いろいろ手助けしてくれる。
  p.
    テッド「担当の囚人が皆お前みたいな性格だといいんだけどなぁ・・・こないだも、1098番に食事を運んだらいきなり手を捕まれて、その時に引っかかれてみみずばれが出来ちまった」
  p.
    ギーゼル「死刑執行が確定したりしたら死にもの狂いで出たくなるのも当然だろうな」
  p.
    テッド「まあな。でも殺人とかをして死刑なら分かるけど、獣人の物を盗んで死刑は無いだろ。しかもパン一個だぜ・・・」
  p.
    あの大惨事の時、難民として現れたのが獣人達だった。#[br]
    難民と救護者、その関係がこの10年で貴族と平民の様な関係に変わってしまった。#[br]
    なぜそうなったかは分からない。ただ気が付けば、世の中はそんな風に変わってしまっていた。#[br]
    人口規制に違反したというだけで終身刑になったのも。俺がホモ・サピエンス・・・”裸のサル”である人間だからだ。
  p.
    テッド「俺みたいに姿を変えられた奴は運がいいけどな・・・」
  p.
    ギーゼル「いや、反対に人間に姿を変えられた奴もいるらしい。お前は結構運がいいぞ」
  p.
    テッド「確かにな。どうしてこんな世の中になったんだか・・・そうそう、お前にいい知らせがあるぞ」
  p.
    ギーゼル「なんだ？」
  p.
    テッド「確定しているかどうかも分からんし、#[br]
    いったい何でこんなことになるのか分からないけど・・・#[b ここを出れるかも知れないぞ。]」
  p.
    ギーゼル「・・・何だって？」
  p.
    俺は自分の耳を疑った。今まで、確定した刑が変更になることは無かった。#[br]
    魔法とかつての科学と組み合わせた方法で思考を読み取る装置が開発されたため、#[br]
    物的証拠が無くても罪を証明出来るようになり、自白しても無実であること、無罪を主張しても有罪であることが確定するため、#[br]
    判決は正確になり、後からの変更は全く無くなってしまった。となると・・・まさか！
  p.
    ギーゼル「テッド・・・確かに俺はここを出たい。だけど、脱獄してまで出るつもりはないぞ」
  p.
    テッド「・・・いやいや脱獄じゃないさ。」
  p.
    ギーゼル「なに！？」
  p.
    テッド「いや、だから俺も信じられないんだけどな。どうも刑を軽減する何かをやるらしい」
  p.
    ギーゼル「何か・・・」
  p.
    テッド「それが何なのかは分からん。噂で聞いたしな。でももしそうだとしたら。終身刑じゃ無くなるかも・・・おっとそろそろ行かないと。」
  p.
    ギーゼル「何か・・・か」
  p.
    何なのだろうか・・・
  p.spacing-5.
    --------------------------------------------------------------------------------------------------#[br]
    一週間後#[br]
    --------------------------------------------------------------------------------------------------
  p.
    #[span.small ・・・きろ]・・・きろ！起きろ！
  p.
    ギーゼル「んあ・・・なんだ？」
  p.
    看守「面会者だ。出ろ。」
  p.
    面会者？いったい誰だろう・・・
  p.
    ギーゼル「あれ？あんたらはたしか・・・」
  p.
    俺に会いに来た面会者は、俺を有罪にした裁判官と、俺の担当をした刑事、そして、あと一人、スーツ姿の男だった。#[br]
    理不尽ではあるが、法をおかしたのは事実なので、俺は恨んではいない。
  p.
    刑事「今回君と面会したのは、ある新しい制度の適用者第一号に君が選ばれたためだ。」
  p.
    ギーゼル「新しい制度？」
  p.
    スーツ姿の男「君もワイマン看守から聞いているはずだ」
  p.
    ！！なぜコイツが俺とテッドの話を・・・
  p.
    ギーゼル「・・・さあ・・・何の事だか」
  p.
    スーツ姿の男「とぼけても無駄だ。囚人と看守とのやり取りは全て監視しているんだ。」
  p.
    ギーゼル「何？」
  p.
    スーツ姿の男「まあ、脱獄を企てていたりとか、そういった類を防ぐための監視だ。#[br]
    普通の情報交換といった類は、表向きはタブーでも無視しているがね。#[br]
    ああちなみに、私はこの刑事施設の担当者だ。この二人みたいな頭の固いムスッとした奴じゃないぞ♪」
  p.
    裁判官「・・・もう少し真面目にやったらどうなんだ」
  p.
    担当者「凶悪犯罪を起こした囚人ならまだしも、子供作っただけで捕まった囚人ですよ。大丈夫ですって。」
  p.
    ギーゼル「・・・それで、その制度って何だ？」
  p.
    刑事「そのことだが・・・」
  p.
    担当者「まった。私が説明する。えーっと、簡単に言うと、国の為に一つ仕事をしてもらうんだ。成功したら刑を軽くするし、#[br]
    場合によっては取り消されるかも知れない。と、そういう制度だ。」
  p.
    刑事「そして今回。その制度を実行する囚人が決まった。それが君だ」
  p.
    ギーゼル「・・・何で俺が選ばれた？」
  p.
    刑事「今回の仕事だが・・・力があるものでないと務まらないのだ。それに、君は終身刑だしな」
  p.
    ギーゼル「何？」
  p.
    担当者「仕事の内容を聞けば分かる。終身刑、もしくは死刑囚じゃないと務まらない・・・というよりやってくれない」
  p.
    ギーゼル「？」
  p.
    裁判官「最初に仕事内容を話した方がいいな。その内容とは・・・#[br.spacing-25.spacing-vh]
    竜の撃退だ」
