---
title: 破
description: 己と子供の命のために、男は竜に挑む。だが、竜の力は強大だった。
sortOrder: 2
reprintNovel:
  source: http://green.ribbon.to/~keiru/mts/mts.cgi?mode=view&no=3&id=5011
  published: 2012-03-25 15:52:00 +09:00
  modified: 2012-03-28 02:40:00 +09:00
localPageStyles:
  - /novels.css
---

extends ../_page-layout

block content
  h1= title

  p.
    ギーゼル「ここか・・・」#[br]
    #[br]
    俺は今、対象の竜が住みついている洞窟の前に来た。#[br]
    渡された”遺伝物質逆探知装置（いでんぶっしつぎゃくたんちそうち）”も、この洞窟内に竜が居る事を証明している。#[br]
    ・・・”仕事”とは、ライナー市の近くに住みついた竜を撃退することだった。#[br]
    その竜は、この町の民家に火をつけたり、スーパーに仕入れに来たトラックを襲ったりしているという。#[br]
    交渉はしたものの、止める気はないそうだ。もっとも、住民の命は奪ったりはしないらしいが・・・#[br]
    住民は迷惑して助けをもとめているものの、軍隊を出動させると金がかかるし、かといって地元警察の力では太刀打ちできないらしい。#[br]
    そんな訳で、俺が行くことになったのだ。確かに、命を懸けて戦うぐらいなら刑執行が終わるまで待った方が得策だろう。#[br]
    だが終身刑の俺はそうはいかなかった。命を懸けるぐらいなら一生を監獄のなかで終わらせる方が良いかも知れない。#[br]
    だが・・・#[br]
    #[br]
    --------------------------------------------------------------------------------------------------#[br]
    #[br]
    ギーゼル「選ばれたってことは、その仕事、どうしてもやらないといけないのか？」#[br]
    #[br]
    刑事「やるかどうかは自由だ。」#[br]
    #[br]
    ギーゼル「・・・断る。いくら自由になりたくても、命を懸けてまで出たくは無い。竜の手で死ぬぐらいなら、たとえ監獄でもいい。文明社会の中で一生を終えたいんだ」#[br]
    #[br]
    刑事「・・・そうか」#[br]
    #[br]
    担当者「まった！あのことは話すべきじゃないのか？」#[br]
    #[br]
    刑事「必要ない。彼が自分で断ったんだ。」#[br]
    #[br]
    担当者「話せば気が変わるかも」#[br]
    #[br]
    ギーゼル「何だ・・・あの話って何のことだ？」#[br]
    #[br]
    担当者「・・・頼むから、私を恨んだりするなよ。いいか、君の二人目の子供、ゾイゼだが・・・人間ということもあってなかなか貰い手がいないんだ。#[br]
    だから、近々安楽死させられる可能性も出ている。」#[br]
    #[br]
    ギーゼル「・・・ふざけるな・・・おれの子だぞ！！」#[br]
    #[br]
    担当者「まあまて！話を最後まで聞け！！いいか、この仕事を成功させたら、国の計らいで取り消されることになってるんだ！」#[br]
    #[br]
    ギーゼル「・・・それは本当だな」#[br]
    #[br]
    担当者「君の刑がどれだけ軽くなるかは分からないが、これは確実だ。どうする？」#[br]
    #[br]
    ギーゼル「・・・分かった。仕事をやろう。」#[br]
    #[br]
    --------------------------------------------------------------------------------------------------#[br]
    #[br]
    俺の自由だけでなく、ゾイゼの命もかかっているとなると断る訳にもいかない#[br]
    不本意だったが、おれは”仕事”をやることにした。#[br]
    制限時間は三日。その間に成功させないと。ゾイゼは・・・#[br]
    #[br]
    ギーゼル「む・・・」#[br]
    #[br]
    居た。#[br]
    俺の視線の先には、目標・・・青い鱗を持った竜が眠っていた。#[br]
    周囲には防衛魔法が張り巡らしてあるようで、近づいて行くと、なぜだかは分からないが、物凄い恐怖感を感じる。#[br]
    恐らく、恐怖感を感じさせて撤退させ、それでもなお近づいて行く者は弾き飛ばすか、命を奪うような魔法を仕掛けているのだろう・・・#[br]
    #[br]
    ピッ<small>イイイ・・・</small>#[br]
    #[br]
    だが、国は想定済みだったようで、D.M.D.（<small>Disabling Magic Device</small>：魔法無効化装置）を装備品として#[br]
    俺の腕に取り付けていた。#[br]
    そのおかげで、俺は難なく竜のそばに行くことができた。#[br]
    #[br]
    カチッ#[br]
    #[br]
    銃を構え、ロックを外した。そして、引き金を・・・#[br]
    #[br]
    ドンッ！#[br]
    #[br]
    ギーゼル「グハッ！」#[br]
    #[br]
    突然、横から何かにぶつけられ、俺は15Mほど吹っ飛ばされた。#[br]
    #[br]
    竜「愚かな・・・」#[br]
    #[br]
    俺の体にぶつかったのは、尻尾だった#[br]
    #[br]
    ギーゼル「起きていたのか・・・」#[br]
    #[br]
    リース「わが名はリース・・・人間、いや、ギーゼルベルトよ。用があるなら遠くから声をかけてくれれば応じたのに・・・」#[br]
    #[br]
    ギーゼル「何故・・・俺の名を・・・」#[br]
    #[br]
    リース「教える必要はない」#[br]
    #[br]
    ギーゼル「そうか・・・すまないな、だが、貴様を撃退しないといけないんでね！」#[br]
    #[br]
    俺は銃を構えようとした・・・が#[br]
    #[br]
    ギーゼル「！？・・・石！？」#[br]
    #[br]
    俺が握っていたのは、石だった#[br]
    #[br]
    リース「お探しの物はこれか？」#[br]
    #[br]
    ギーゼル「な・・・いつの間に・・・」#[br]
    #[br]
    銃は、アイツの指の上にあった。#[br]
    #[br]
    リース「済まぬな。遠距離系統の武器は苦手でな・・・戦うのなら、この剣を使え」#[br]
    #[br]
    そう言い、代わりに剣を一本投げてきた。#[br]
    #[br]
    ギーゼル「な・・・」#[br]
    #[br]
    リース「そちらが銃を使うなら、こちらも魔法で応戦するのが対等だが、どうもそなたには魔法が効かないらしいのでな」#[br]
    #[br]
    ギーゼル「・・・それなら、これを使ってやるよ！」#[br]
    #[br]
    リース「後もう一つ、そなたが身にまとっている防具だが・・・はっきり言って、今までのどんな人間よりも出来が悪いのだが・・・」#[br]
    #[br]
    ギーゼル「うるさい！竜のお前に何が分かる！！」#[br]
    #[br]
    俺は渡された剣を持って、切りかかって行った。#[br]
    #[br]
    #[br]
    一分後・・・#[br]
    #[br]
    #[br]
    ギーゼル「うっ・・・くそ・・・」#[br]
    #[br]
    リース「だから言うたのに・・・」#[br]
    #[br]
    結果は・・・ボロ負けだ。俺は押し倒され、上から押さえつけられている#[br]
    #[br]
    リース「さあどうする？これ以上戦っても意味はないぞ」#[br]
    #[br]
    その通りだ・・・だがゾイゼが・・・そうだ！#[br]
    #[br]
    ギーゼル「・・・参りました！！あなた様の力に魅了されました！弟子にしてください！！！」#[br]
    #[br]
    弟子になったふりをして、油断したところでボロボロにする！これがおれの作戦だ。#[br]
    だが、上手くいくかどうか・・・#[br]
    #[br]
    リース「そうか・・・分かった。弟子にしてやろう。」#[br]
    #[br]
    ・・・案外あっさり上手くいったな#[br]
    #[br]
    リース「でも良いのか？弟子になるということは一緒に過ごすということだ。自分の世界に未練はないのか？」#[br]
    #[br]
    ギーゼル「ああ・・・」#[br]
    #[br]
    リース「そうか・・・じゃあまず弟子として、師匠のことを知らなきゃだめだよなー」#[br]
    #[br]
    ギーゼル「な・・・」#[br]
    #[br]
    リース「ああ驚いた？俺の本性というか普段の性格ってこんなのなんだ。やってくる相手とかには”我”なんて固っ苦しい言葉使ってるけどはっきり言ってあれ疲れるんだよなー」#[br]
    #[br]
    ギーゼル「え・・・」
