---
title: '#03 溶け潰れる家族の声'
description: 自宅で目を覚ました彼は、消えた家族を探しはじめる。だが、家族は見つからず、とうとう人喰い竜に捕まってしまう。竜の腹の中からは、くぐもった悲鳴が聞こえてきて…
sortOrder: 3
tweetable: true
localPageStyles:
  - /novels.css
---

extends ../_page-layout

block novel-body
  p(id="目覚め")
    | 「うっ…」
  p
    | 青年の意識が覚醒する。頭のズキズキとした痛みを感じ取りながら、彼はゆっくりとまぶたを開く。
  p
    | （あれ…ここは…？）
  p
    | 目を開けた彼の視界に入ったのは、暗い部屋の天井。消灯された部屋の構造は、見知った我が家の居間だった。
  p
    | （僕…どうして…）
  p(id="寝起きの現状確認")
    | 彼は、ゆっくりと体を起こすと、重いまぶたをこすりながら、自分が寝ていた場所を手探りで確かめた。
  p
    | （ソファ？）
  p
    | 彼が横たわっていたのは、居間に置かれたソファ。幅が広いそのソファは、普段、弟が昼寝に使っている場所。
  p(id="今の時刻は")
    | （なんで…いつの間に寝た…？）
  p
    | ｟今は何時？｠
  p
    | （待って、調べる）
  p
    | 時間を確かめるために、彼はスマホをポケットから取り出す。そして、画面を点灯しようとした。
  p(id="起動しないスマホ")
    | 「ん…？」
  p
    | しかし、スマホの画面が点灯しない。電源ボタンを押しても画面は変わらず。電源が入る長押しですら、何の反応もなかった。
  p(id="機能しない充電器")
    | （バッテリー切れか…？）
  p
    | そう考えた彼は、ソファの下の充電ケーブルを引っぱり出し、スマホに接続した。充電が開始され、着信ランプが赤く光る──はずだった。
  p
    | 「あれ？ん？」
  p
    | 何度ケーブルを繋ぎ直しても、スマホの充電は開始されない。
    span(id="停電している家")
    | ふと横を見た彼は、異様な事態に気がつく。
  p
    | テレビの周りの録画デッキから、LEDの光が消えている。それだけなら、ブレーカーが落ちて停電したときと同じだ。
    | だが、壁にかけられた時計も動いていない。電池で動く壁掛け時計が、#[em 停電で止まるはずはない]。
    span(id="味の違和感")
    | 明かりも動きも消え、シーンとした肌寒い部屋。何かがおかしい。ゾクリと恐怖を感じた彼は、ふと、足に違和感を覚えた。
  p
    | （なんだ…これ…）
  p
    | 「いっ…痛いっ！」
  p
    | 足に触れた途端、ズキリと鋭い痛みが走る。
    span(id="ことの成り行きを悟る")
    | その途端、ボーッとしていた頭がはっきりして、直前の出来事を思い出した。
    | 足に深い切り傷ができていること。命からがら逃げ帰ってきたこと。そして、恐ろしいバケモノが、自分を見つめて舌舐めずりした光景。
  p
    | （まさか…まさか…！）
  p(id="屋内探索：1F")
    | ソファから降りた彼は、暗い部屋の中でフラフラと歩き出す。足の痛みに耐えながら、彼は部屋中を見て回った。
  p
    | （いいや、違う。たぶん、みんな二階で寝てるだけなんだ。そうだ！そうに違いない…）
  p
    | 念入りに一階の各部屋を見回ってから、彼は階段を上り始めた。
    span(id="屋内探索：2F")
    | てすりに体重を預け、足に負担をかけないようにしながら、彼は二階に到着した。
  p
    | （みんな寝てるはずだ…いつもみたいに、敷きっぱなしの布団に寝転がって…！）
  p
    | 彼は、二階の寝室の扉を開け、部屋の中を覗き込んだ。
  p(id="寝室の様子")
    | 畳が敷き詰められた床に、何枚も敷布団が敷かれている。その上には、たたまれずにしわができている掛け布団。いつも通りの寝室だった。
    | しかし、家族の寝息も、寝転ぶ人の姿も無い。ただ、ベランダへと続く大きな窓が開き、そこから漏れる風がカーテンを揺らしているだけ。
  p(id="きっと掛け布団の中だろう")
    | （いや…いや…）
  p
    | 「…きっと、掛け布団の中に潜って寝てるんだ。人間、変な眠り方を試したくなるときもあるかもだし…！」
  p
    | 焦る口調で独り言を呟きながら、彼は掛け布団をめくっていく。だが、その下に人の姿はない。
  p(id="きっと押入れの中だろう")
    | 「そ…そうだ！きっと押入れの中だ。ドラえもんに憧れて押し入れで寝たい時だってあるさ！そんな楽しいお話を観て影響を受けて──」
  p
    | 呟きながら、彼は押入れを開ける。だがそこには、いつものように予備の布団やケースが詰め込まれているだけ。人が入る空間など無い。
  p(id="背後から迫る捕食者の尾")
    | 「いや…いや…そうだ！きっと──」
  p
    | なおも否定し、彼は寝室を出ようとする。すぐ後ろから、静かに迫る存在に気が付かないまま。
  p
    | シュルッ
  p
    | 「え──ンンンッ！！！」
  p
    | 突然、彼の体に、細長いものが巻き付いてきた。
    span(id="尾で締め上げられる獲物")
    | 腰から反時計回りに巻き付いたそれは、彼の上半身を締め付け、声を出せぬよう首も締め上げる。
  p
    | 「キッ…ヒュッ…」
  p
    | 彼は悲鳴を上げようとした。だが、締め付けられた彼の喉は、空気が抜けたような音を出すだけ。
    span(id="外へ引きずり出される獲物")
    | もがく彼を締め付けたまま、細長いソレは、彼の体をやすやすと持ち上げる。そして、彼を窓の外へと引っ張り出した。
    | 窒息させられながら一瞬にして引っ張られた彼に、抗う余裕は一切無かった。
  p
    | （イイイ…ッ！）
  p(id="振り回される獲物")
    | 振り回すように引きずり出され、視界がグルグルと回る。頬に冷たい空気が吹き付ける。
    | 目が回りそうな視界の中で、彼が把握できたのは、自分の体が外へと引きずり出されたことだけだった。
  p(id="胸へ叩きつけられる獲物")
    | ボフッ！
  p
    | 「いぎゃっ！」
  p
    | 突然、彼の体が何かに激突する。柔らかく、ふわっとしたもの。気がつけば、首が締め付けから開放されている。
    | 考えるよりも先に、彼は酸素を求めて大きく息を吸い込んだ。
  p(id="胸の上で咳き込む獲物")
    | 「ガハッ！ゲホッ！ヒァァ…ヒァァ…！」
  p
    | 一気に空気を吸ったせいか、それとも口に毛が入ったせいなのか、彼は何度か咳き込んでしまう。
    | だが、荒い呼吸は止められない。ヒューヒューと言っていた喉も、徐々に元の呼吸音に戻っていく。
  p(id="胸に押し付けられる獲物")
    | 「ハァ…ハァ…フッ！？ッ〜！！！」
  p
    | 呼吸が戻りかけたとき、彼の体が急に圧迫される。背中を押され、柔らかくてふわっとしたものに押し付けられる。顔に大量の毛が触れる。息ができない。
    | 悲鳴を上げるが、その声は顔をふさぐ柔らかいものに吸収され、くぐもってしまう。
    span(id="胸の上で開放される獲物")
    | ジタバタと暴れていると、圧迫から開放された。
  p
    | 「ガハァッ！…ゼーッ…ゼーッ…ヒュァァ…」
  p
    | 二度の窒息で、彼の目に涙が溜まる。溢れ出た涙は頬をつたい、薄い水の筋を残す。涙で濡れた目を開けた時、彼はようやく、自分が置かれている状況を把握した。
  p(id="胸の体毛の触り心地")
    | 彼の体は、ピンク色の毛に押し付けられていた。柔らかく、それでいてしっかりとした強度がある感触。衣類用繊維とは違った、生物の体毛特有の触り心地。心が落ち着く香りがする、ふわっとした心地いい体毛。
    span(id="胸に押し付けていたのは前腕")
    | 彼を体毛に押し付けていたのは、見覚えのある巨大な爪。あのバケモノの#[+ruby('前脚', 'まえあし')]に生えていたもの。
    | 彼の頭上からは、低い唸り声が聞こえる。その音に誘われるように、彼は上を向く。
    span(id="胸の上で目と目が合う")
    | 見上げた彼の視線が、あの生き物の目と合った。緑色の目が、彼をじいっと見つめる。その距離、わずか35センチ。
    | 彼は、生き物の#[+ruby('前脚', 'まえあし')]で抱かれる形で、胸部の体毛に押し付けられていた。
  p(id="捕まった獲物")
    | 「捕まえた♪」
  p
    | 巨大な人喰いの生き物が、喉を鳴らしながらそう呟く。低いゴロゴロとした音とは対象的に、その#[+ruby('声色', 'こわいろ')]は落ち着きのある女性のもの。
  p
    | 「ひっ…や…」
  p(id="食前の味見")
    | 「ンフフ…もう逃さないわ。このまましっかりと──」
  p
    | 言うなり、生き物は彼の顔に大きな舌を押し当て…
  p
    |「味わってあげる♪」
  p
    | ベロリ、と舐め上げた。ねばついた唾液が糸を引き、彼の頬と生き物の舌に、透明な橋を形作る。
  p(id="前菜の前に怯える獲物")
    | 「や…やだ…止めて…やめてぇ…」
  p
    | 彼は真っ青になりながら、ガタガタと震え、小さな声で「やだ、やだ」と呟き始めた。
  p
    | 「あら、なぁに？」
  p
    | 生き物は、首を小さくかしげて彼を見る。
  p
    | 「声が小さくて聞こえないわ」
  p(id="もっと鳴くまで味わってやろう")
    | 言うなり、生き物は舌を突き出し、彼の顔面に押し当てた。
  p
    | 「ッッッ〜！！！」
  p
    | 顔を塞がれた彼は、くぐもった悲鳴を上げながら、顔をそらそうと暴れ始める。
    | だが、彼が頭を動かすのに合わせて、生き物も巨大な舌を動かす。右を向けば右へ、左を向けば左へ。
    span(id="窒息しそうな激しい味見")
    | 下を向こうとすれば顎の下に舌先をねじ込み、無理やり頭を上げさせる。首をブンブンと振り回しても、分厚い舌が頭を包み込み、どの方向も肉の壁で塞がれる。
    | 窒息で、鼓動がどんどん早くなる。
  p
    | 「ッ…ッ…」
  p
    | 彼の動きがだんだんと鈍くなり、ビクンビクンと痙攣を始める。
    span(id="味見から開放される獲物")
    | そうなった時、生き物はようやく舌を離した。
  p
    | 「ゴボッ…ゲホッ、ガハッ、ゴホッゴホッ！」
  p
    | 喉に詰まった唾液を吐き、激しい咳をしながら、彼は数分ぶりの空気を吸い込んだ。彼の顔はドロドロの唾液で汚れ、もはや、涙とヨダレの区別もつかない。
  p(id="もっと大きな声で")
    | 「ほら、もっと大きな声で言いなさい。聞こえないでしょう？」
  p
    | 息をするので精一杯な彼に対し、生き物は変わらぬ優しげな声を掛ける。
    | だが彼は、それが不気味だと感じていた。獲物を弄んだのに、興奮せずに同じ声色で喋り続けている。まるで、何の感情もないかのように。
  p(id="二度目の味見の準備")
    | 「ゲホッ…ヒッ…ァ…」
  p
    | 「ほら、言って。それとも、また味わわれたいの？」
  p
    | 先程よりも声が小さくなった彼に、生き物はまたもや舌先を突き出す。舌が彼の顔面を包み込もうと迫る。
  p(id="大きな声で助けを乞う")
    | 「や、や…止めて！助けてぇ！！」
  p
    | 舌が顔に触れかけたその時、彼は、唾液まみれの口から大声を張り上げた。
  p
    | 「そう…助けてほしいんだ？」
  p
    | 生き物が、舌を彼の顔から離し、頭をゆっくりと上げる。
    span(id="喉が枯れるまで助けを求め")
    | 至近距離だった生き物の視線が離れ、彼は少しだけ安堵した。
  p
    | 「は…はい！たすけ…助けて…！」
  p
    | 助けてほしいという思いから、彼は何度も何度も声を出す。生臭い唾液が口に入るたびに、それを吐き、咳をしながら、何度も何度も助けを乞う。
    span(id="懇願の声が枯れて止む")
    | 彼の喉が枯れ、#[+ruby('懇願', 'こんがん')]の声が途切れた時──
  p
    | 「でも、いいの？」
  p
    | 生き物は、彼に尋ねた。
  p
    | 「いま助かったら、あなたは家族と離ればなれになるのよ？」
  p(id="腹に押し付けられて")
    | その一言を聞き、彼の目が見開かれる。そんな彼を、生き物は抱きかかえたまま下ろすと、今度は体毛のない腹部に押し付けた。
  p
    | 「ほら、聞こえる？あなたの家族のかわいい鳴き声」
  p(id="腹の中の音は")
    | 丸く膨れた腹にめり込むほどの力で、彼はぎゅうっと圧迫された。彼の体が腹に埋まり、呼吸ができずに苦しくなる。
    | だが、彼の耳は、生き物の腹の音をしっかりと聞き取っていた。
    | コポコポと鳴る、腸の動く音。内容物が立てる、チャポンという水音。
    span(id="消化の音。家族の音")
    | そして、その奥から聞こえる、何かがかき混ぜられるようなグチャッグチャッという音。
    | およそ3秒ごとに鳴る、粘液がこすれるような音。その音の中で、音が出るたびに上がる、弱々しい悲鳴。
  p
    | 「ｯ…ｱｯ…」
    br
    | 「ｷﾞｬｯ…」
    br
    | 「ｯ…ｱﾂｲ…」
    br
    | 「ｵｶｱｻﾝ…ﾄﾞｺ…」
  p(id="獲物は家族の行方を知る")
    | 小さすぎて、誰の声なのかも分からない。だが、彼は確信した。知ってしまった。
    | 家の中にいたはずの家族が、いまや、この捕食者の腹の中なのだということを。
  p(id="我はいかにして家族を喰ったか")
    | 「あなたが私の毒で気絶している間に、みんな残らず食べたのよ。先に親を呑み込んで、それから子供達も平らげて」
  p
    | 生き物が、彼を腹から放してやる。開放された彼は、再び空気を吸い始めた。だが、その呼吸は、酸素を求めて必死だった先程よりも乱れている。
  p(id="溶けた家族。息のある家族")
    | 「二匹の親は、もうトロトロに溶けているわ。でも、後から食べた子供達は…どうやらまだ生きているみたい」
  p
    | 生き物の爪が、彼をガシリと鷲掴みにする。彼の体を爪が固定し、唾液でヌメる獲物をしっかりと掴んで離さない。
  p(id="なぜ嫌がる。家族と会えるのに")
    | 「っ…あ…やだ…やだぁぁ…やだよぉぉ…」
  p
    | 「あら、どうして嫌がるの？あなたは私のお腹の中で、家族と再開できるのよ？」
  p
    | 視線を上げた彼は、月明かりに照らされた、巨大な捕食生物の顔をはっきりと目にした。
    span(id="捕食者の表情")
    | 細かな鱗で覆われた口元は、柔軟に変形し、ニッコリと微笑む表情を形作っている。
    | 長いマズルの鼻先では、獲物の匂いを嗅ぎ取るかのように、鼻孔が何度も閉じては開く。
    | 彼を見つめる緑の瞳は、彼をまっすぐとらえていた。瞳の中の丸い瞳孔は、小さく絞られている。
    span(id="捕食者の目つきで見つめられる獲物")
    | まるで、獲物を狙うライオンのような、捕食者特有の鋭い目つき。
  p
    | 「あなたは家族と一緒に、私の栄養に生まれ変わるの」
  p
    | 生き物の口がゆっくりと開く。唾液が糸を引き、白い牙が見え隠れする。
    | 分厚く大きな舌がぐるりと唇を舐め、それから、彼を誘うように垂れ下がる。
  p(id="喰らいつかれる獲物")
    | 「私の中で、たっぷり鳴いてちょうだい…♪」
  p
    | 生き物は、口を開けたままそう発声すると、彼の体に喰らいついた。
  p(id="頬張られる獲物")
    | 「ング…ァアッ！」
  p
    | 一口で、彼の上半身が咥え込まれる。蒸し暑い口内に閉じ込められた彼の顔を、舌が余すこと無く包み込んだ。
    | ドクドクと溢れ出る唾液が口内を潤していく。そして、彼の顔を、着ていた服を、髪を、どんどん濡らし、グチョグチョに汚し始めた。
    span(id="ねばついた唾液が呼吸を妨げる")
    | ねばついた唾液が、彼の鼻をふさぐ。彼は口で呼吸しようと暴れるが、舌は彼の体を#[+ruby('口蓋', 'こうがい')]に押し付け、何度も何度も転がすように舐めていく。
    | 口を閉じれば呼吸ができず、開けても唾液が次々に入り込む。
    span(id="吐き気を感じ、持ち上げられ")
    | 呼吸ができない苦しみと、口に入り込む唾液の生臭さから、彼は何度も吐きそうになった。
  p
    | 唾液の責苦を味わわされ、窒息の恐怖でせいいっぱいな彼は気づいていない。自分の体が、最初に見かけた犠牲者のように持ち上げられていることを。
    span(id="咥え直される獲物")
    | 生き物はあのときと同じように、勢いをつけ、一気に頭部を振り上げた。彼の体もまた、勢いをつけられ、一瞬だけ空中に留まる。
    | そのわずかな時間の間に、生き物は口を開き、そしてまた閉じた。上半身だけ咥えられていた彼の体は、今や全身が口の中。
  p(id="足を濡らす唾液")
    | 包帯を巻くためズボンを脱いでいた彼の下半身は、皮膚がさらけだされている。その皮膚にも、唾液が絡みつき濡らしていく。
  p(id="傷にしみる唾液")
    | 「ンンンンンー！！！」
  p
    | 傷をふさいでいたガーゼが、舌に#[+ruby('翻弄', 'ほんろう')]される中で剥がれてしまう。ふさがりかけていた傷に、ドロドロの唾液が染み込む。
    | その強い激痛で、彼は唾液の泡を吹きながら悲鳴を漏らした。
  p(id="激しい味わい。意識は薄れ")
    | 舌が持ち上がるたびに、彼は挟まれ、つぶされ、そして転がされる。唾液を含んだ服が重くなり、彼を更に疲れさせる。彼の喉にも唾液が流れ込み始め、嫌でも唾液を飲んでしまう。
    | 唾液の中で溺れ続け、意識が朦朧とし始めた時、ようやく、彼は開放された。
  p(id="空へと開く捕食者の口")
    | 「ア〜…♪」
  p
    | 生き物が、空へ向かって大きく口を開ける。泡立つ唾液がたまった口内で、彼の体は浮かんでいた。生き物は舌を使い、彼の体を持ち上げる。
    span(id="唾液まみれで朦朧とする獲物")
    | 唾液たまりの中から持ち上げられた彼は、肩を小さく震わせながら、ねばついた唾液を吐き、ゆっくりとまぶたを開いた。
  p
    | 「ゥ…ア…」
  p
    | 暗く蒸し暑い口の中で、一体どれだけ苦しめられたのだろう。彼の時間感覚は、とうに狂い始めていた。
  p(id="外気を吸うよう促され")
    | 「ほら、外の空気よ。たっぷりと吸いなさい」
  p
    | さんざん苦しめてきた相手の言うことなど、素直に従うべきではない。さらなる苦しみが始まるだけ。彼は、頭ではそう理解していた。
    | しかし、熱い口内で#[+ruby('嬲', 'なぶ')]られた彼にとって、冷たい外気はまさしく天の恵み。
  p(id="素直に従い外気を吸う")
    | 「ハァ…ハァ…スーッ、ハァ…」
  p
    | 言われたとおりに空気を吸う。それ以外の選択肢は無かった。
  p
    | 「そうよ、いい子ねぇ。もっと吸ってもいいのよ。あなたの人生で味わえる、最後の外の空気なんだから」
  p
    | 「スーッ…ゲホッ…ハァ…スーッ…ハァ…ゲホッゴホッ…」
  p(id="いっときの楽園。すぐに始まる地獄")
    | 何度か咳き込みながらも、彼は空気を吸っては吐いていく。
    | 呼吸を続けるうちに、早鐘を打っていた心臓も落ち着いていった。酸欠の頭痛が薄れ、頭がはっきりとしてきた時──
  p
    | 「それじゃあ、そろそろ…呑み込んであげる♪」
  p
    | 生き物が、そう声を発した。
  p(id="呑まれ始め")
    | 「ヒッ！や、ま、待って！まだ──」
  p
    | 彼が言い終わるよりも早く、舌がすばやく持ち上がり、彼を#[+ruby('口蓋', 'こうがい')]に押し付けた。
  p
    | 「ガハッ！」
  p
    | 硬い上顎にぶつけられ、彼の肺から空気が漏れ出る。舌の圧力は凄まじく、彼は、自分が潰されるのだと錯覚した。
    span(id="嚥下運動")
    | 圧力がどんどん強くなっていく。すると、彼の体が、奥へ奥へと滑り始めた。外を向いていた彼は、足から順に、喉の奥へと押し込まれていく。
    | 彼の足が柔らかな肉に包まれる。肉はどんどんせり上がり、彼の腰を、腹を、胸を呑み込んでいく。
  p(id="外への未練と呑み下し")
    | 頭が喉の奥へと沈む瞬間、かすかに開いた彼の目に、夜空で輝く月の姿が写り込んだ。
  p
    | ドプッ…ゴックン！
