---
title: 魂喰
description: ある寒い夜の帰り道、一人の青年が、人喰いの竜と出会ってしまった。必死の逃走も叶わず、彼は家族もろとも喰い殺されてしまう。だが、彼の生涯は、そこで終わりはしなかった。
sortOrder: 2
localPageStyles:
  - /novels.css
  - /novel-list.css
---

extends ../_layout

prepend vars
  include ../_mixin

block novel-content
  p= description

  p
    | #[a(href="http://green.ribbon.to/~keiru/mtss/mtss.cgi?sort=&stnm=&genre=&name=%91z%90%BC") 某所で書いていた黒歴史]の一つ「#[a(href="https://www.pixiv.net/novel/series/224800") VD]」のリブート作品です。
    | うちの子の布教作品、かつ、設定資料、かつ、世界観の解説と考察も兼ねるつもり。
    | 今回はちゃんと最後まで書ききれるといいなぁ。

  +pageLinkList(getPageDataList())(itemprop="hasPart")
